<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <!-- local -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='_generated/style.css')}}?tag={{config.BUILD_TAG}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">

    <!-- Google -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.GOOGLE_ANALYTICS_ID}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "{{config.GOOGLE_ANALYTICS_ID}}");
    </script>

    {% block head %}{% endblock %}
</head>



<body>
<!-- Container -->
<div class="container">

    <!-- HEADER -->
    <header>
        {% block header %}{% endblock %}
    </header>

    <!-- CONTENT -->
    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="p-1">
            <small class="text-muted">
            All data is retrieved from <a href="https://warcraftlogs.com" target="_blank" rel="noopener"><strong>Warcraft Logs</strong></a>.&nbsp;
            Item and ability tooltips by <a href="https://wowhead.com" target="_blank" rel="noopener"><strong>Wowhead</strong></a>.<br>
            All images copyright Blizzard Entertainment. World of Warcraft
            Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
            </small>
        </div>
    </footer>
</div>

<!-- Scripts -->
{% block scripts %}

<!-- wowhead -->
<script>const whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false, iconSize: 'small'};</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>

{% endblock %}
</body>
</html>