{% from "elements/timeline_player_name.html" import player_name %}
{% from "elements/timeline_player_name.html" import boss_name %}
{% from "elements/timeline_ruler.html" import timeline_ruler %}
{% from "elements/timeline_killtime.html" import killtime %}
{% from "elements/timeline_casts.html" import player_timeline %}


{% macro header_boss(boss, spec) -%}
<h1 class="m-0">
    <a href="https://www.warcraftlogs.com/zone/rankings/{{boss.zone.id}}#boss={{boss.id}}&class={{spec.wow_class.name_slug_cap}}&spec={{spec.name_slug_cap}}&metric={{spec.role.metric}}" target="_blank">
        <img class="icon-l rounded shadow wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
        <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.full_name}}s</span>
        <span>vs</span>
        <img class="icon-l rounded shadow border-white" src="{{boss.icon_path}}" alt="{{boss.name}}" target="_blank">
        <span>{{boss.name}}</span>
    </a>
</h1>
{%- endmacro %}


{##############################################################################}

{% extends "base.html" %}


{% block head %}
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>

    <script src="http://localhost:5011/static/utils.js"></script>
    <script src="http://localhost:5011/static/timeline_canvas.js"></script>
{% endblock %}


{##############################################################################}
{# TITLE #}

{%- block title %}
Lorgs: {{spec.full_name}} vs. {{boss.name}}
{%- endblock -%}


{##############################################################################}
{# HEADER #}

{% block header -%}
<div class="mt-3 flex-row d-flex flex-wrap-reverse">
    <div class="mb-2">
    {{ header_boss(boss, spec) }}
    </div>

    <div class="ml-auto mb-2">
        {% include "elements/spec_ranking_nav.html" %}
    </div>
</div>
{% endblock %}


{##############################################################################}
{# CONTENT #}

{% block content -%}

<div class="mb-2">
    {% include "elements/settings_bar.html" %}
</div>


<!-- TIMELINES -->
<div class="p-2 bg-dark rounded border">

    <!-- Player Names -->
    <div id="player_names_container" class="player_names_container spec_ranking float-left">
        <div class="timeline_ruler_playerholder"></div>
        {# Boss #}
        {% if boss_player %}
        {{ boss_name(boss_player) }}
        {% endif %}

        {# Players #}
        {% for player in players %}
            {{ player_name(player, loop.index) }}
        {% endfor %}
    </div>

    <div id="player_timelines_container">
        <div id="timeline_canvas" style="overflow: hidden;"></div>
    </div>

</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

////////////////////////////////////////////////////////////////////////////////

const SPEC_SLUG = "{{spec.full_name_slug}}"
const BOSS_SLUG = "{{boss.name_slug}}"

var SPELLS = {};


var SCENE = new Scene({
    container: "timeline_canvas",
    width: window.innerWidth,
    height: window.innerHeight,
    draggable: true,
});



function resize_canvas() {

    const container = document.getElementById("player_names_container");

    var containerWidth = container.offsetHeight;
    console.log("containerWidth", containerWidth)

    SCENE.height(containerWidth);

}
// window.addEventListener("resize", resize_canvas);
resize_canvas()



////////////////////////////////////////////////////////////////////////////////

SCENE.load(SPEC_SLUG, BOSS_SLUG)

// document.addEventListener('DOMContentLoaded', () => {
// })


////////////////////////////////////////////////////////////////////////////////


function update_debug_layer() {
    return
    let pointer = stage.getPointerPosition();
    // console.log("mouse_move", stage.x(), pointer.x);
    DEBUG_LINE_X.x(pointer.x - stage.x());
}


document.querySelectorAll(".settings_bar .button[data-spell_id]").forEach(button => {

    const spell_id = button.dataset.spell_id;
    button.addEventListener("click", event => {
        button.classList.toggle("disabled")
        const enabled = !button.classList.contains("disabled")

        SCENE.show_spell(spell_id, enabled);
        // const spell = SPELLS[spell_id];
        // spell.show = enabled;




    });
});
/*
*/



</script>
{% endblock %}


