{% extends "base.html" %}

{% block title %}Lorgs: Help{% endblock %}

{% block content %}


<div class="d-flex flex-row p-2 mt-5 ml-5">

    <!-- Info -->
    <div class="col-3">
        <h3>Help Page</h3>
    </div>

{% endblock %}


{% block footer %}

<div class="flex-row p-1 mt-5 ml-5">
    <div class="col">
        <p id=copyright class="text-muted">
            <small>
            Item and ability tooltips by <a href="https://wowhead.com/" target="_blank">Wowhead</a>.<br>
            All images copyright Blizzard Entertainment. World of Warcraft
            Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
            </small>
        </p>
    </div>
</div>

{% endblock %}

