{% extends "base.html" %}

{% block title %}Lorgs: Index{% endblock %}

{% block content %}


<div class="d-flex flex-row p-2 mt-5 ml-5">

    <!-- Info -->
    <div class="col-3">
        <h3>What is this?</h3>
        <div class="bg-dark rounded border p-2 text-wrap" style="background-color: $blue-800">

            This little website looks at the <strong class="text-astounding">top 50 logs</strong> for each spec<br>
            and visualizes <strong class="text-legendary"><em>relevant(*)</em> spells on a timeline.</strong><br>
            <br>
            The Idea is to give players a <span class="text-epic">quick idea how to time their CDs,</span>
            without having to go trough a number of logs themself and compare them by hand.<br>
            <br>
            <hr>
            <b>* relevant spells:</b><br>
            whats considered a relevant spell is just a list of spells per spec I manually create and maintain.<br>
            If there are any spells you'd considerer relevant but they are currently missing,
            please let me know and I will have a look into adding them.
        </div>
    </div>

    <div>

        <!-- Parses -->
        <h3>Top Parses by Spec:</h3>

        <div class="bg-dark rounded border p-2">
            <table>
                {% for role in roles %}
                <tr>
                    <td><img class="icon-m rounded border border-black" src="{{role.icon_path}}"></td>
                    <td style="width: 8rem;margin-right: 2rem"><span>{{role.name}}:</span></td>

                    <td>
                        {% for spec in role.specs %}
                        {% if spec.supported %}
                        <a href="{{url_for('ui.spec_ranking', spec_slug=spec.full_name_slug, boss_slug=boss.name_slug)}}" data-toggle="tooltip" title="{{spec.full_name}}">
                        {% else %}
                        <a class="disabled" href="#" data-toggle="tooltip" title="{{spec.full_name}} (not supported yet)">
                        {% endif %}
                            <img class="icon-spec icon-m rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}" alt="{{spec.full_name}}" >
                        </a>
                        {% endfor %}
                    </td>
                </tr>
                {% if not loop.last %}
                    <tr style="height: 0.5rem"></tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>

        <div class="mb-3" style="clear: both"></div>

        <h3>Top Reports by Comp:</h3>

        <div class="bg-dark rounded border p-2">
            <table>
                {% for comp in comps %}

                <tr>
                    <a href="{{url_for('ui.comp_ranking', comp_name=comp.name, boss_slug=boss.name_slug)}}">
                    {% for spec in comp.specs %}
                        <img class="icon-spec icon-s rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
                        <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.short_name}}</span>
                        {% if not loop.last %}&nbsp;{% endif %}
                    {% endfor %}
                    </a>
                </tr>

                {% endfor %} {# for comps #}

            </table>
        </div>
    </div>
</div>
{% endblock %}
