{% extends "base.html" %}

{% block title %}Lorgs: Index{% endblock %}

{% block content %}


<div class="d-flex flex-row p-2 mt-5 ml-5">

    <!-- Info -->
    <div class="col-4">
        <h3>What is this?</h3>
        <div class="bg-dark rounded border p-2 text-wrap">

            This little website looks at the <strong class="text-astounding">top 50 logs</strong> for each spec<br>
            and visualizes <strong class="text-legendary"><em data-toggle="tooltip" title="whats considered a relevant spell is just a list of spells per spec I manually created and maintain.<br>
            If there are any spells you'd consider relevant but they are currently missing,
            please let me know and I will have a look into adding them.">relevant(*)</em> spells on a timeline.</strong><br>
            <br>
            The Idea is to give players a <strong class="text-rare">quick overview how to time their CDs,</strong>
            without having to go trough a number of logs themself and compare them by hand.<br>
            <br>
            <a href="{{url_for('ui.help')}}" class="btn btn-primary ml-auto"><i class="fas fa-info-circle"></i> Help</a>


        </div>

        <div class="mt-4"></div>

        <h4>⚠️Disclaimer</h4>
        <div class="bg-dark rounded border p-2 pt-0 text-wrap">
            Do not simply copy paste the timings you see here!<br>
            <br>
            This page is meant to give you a guideline,<br>
            but you'll have to adapt your cooldowns based on your guilds strat, setup, push timings and many many more variables.<br>

        </div>

        <div class="mt-4"></div>

        <h4>Links</h4>

        <div class="index_links bg-dark rounded border p-2 text-wrap">
            <strong class="h5"><a href="https://discord.gg/U3xmktWEzU"><img class="icon-s" src="{{url_for('static',filename='images/icons/logo_discord.svg')}}"> Discord</a></strong>
            <p>Feel free to join if you have any questions, feedback or just want to hang out.</p>
        </div>

            {#
            <ul class="list-unstyled">
                <li><a href="https://www.patreon.com/lorrgs"><img src="{{url_for('static',filename='images/icons/logo_patreon.svg')}}">Patreon</a></li>
                <li><a href="https://github.com/gitarrg/lorgs"><img src="{{url_for('static', filename='images/icons/logo_github.png')}}">Github</a></li>
            </ul>
            #}
    </div>

    <div>
        <!-- Parses -->
        <h3>Top Parses by Spec:</h3>

        <div class="bg-dark rounded border p-2">
            <table>
                {% for role in roles %}
                <tr>
                    <td><img class="icon-m rounded border border-black" src="{{role.icon_path}}"></td>
                    <td style="width: 8rem;margin-right: 2rem"><span>{{role.name}}:</span></td>

                    <td>
                        {% for spec in role.specs %}
                        {% if spec.supported %}
                        <a href="{{url_for('ui.spec_ranking', spec_slug=spec.full_name_slug, boss_slug=boss.name_slug)}}" data-toggle="tooltip" title="{{spec.full_name}}">
                        {% else %}
                        <a class="disabled" href="#" data-toggle="tooltip" title="{{spec.full_name}} (not supported yet)">
                        {% endif %}
                            <img class="icon-spec icon-m rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}" alt="{{spec.full_name}}" >
                        </a>
                        {% endfor %}
                    </td>
                </tr>
                {% if not loop.last %}
                    <tr style="height: 0.5rem"></tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>

        <div class="mb-3" style="clear: both"></div>

        <h3>Top Reports by Comp:</h3>

        <div class="bg-dark rounded border p-2">
            <table>
                {% for comp in comps %}

                <tr>
                    <td>
                        <a href="{{url_for('ui.comp_ranking', comp_name=comp.name, boss_slug=boss.name_slug)}}">
                            <img class="icon-spec icon-s rounded" src="/static/images/roles/healer.jpg">
                            {{comp.name}}
                        </a>
                    </td>
                    {#
                    {% for spec in comp.specs %}
                        <img class="icon-spec icon-s rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
                        <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.short_name}}</span>
                        {% if not loop.last %}&nbsp;{% endif %}
                    {% endfor %}
                    #}
                </tr>

                {% endfor %} {# for comps #}

            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}

<div class="flex-row p-1 mt-5 ml-5">
    <div class="col">
        <p id=copyright class="text-muted">
            <small>
            Item and ability tooltips by <a href="https://wowhead.com/" target="_blank">Wowhead</a>.<br>
            All images copyright Blizzard Entertainment. World of Warcraft
            Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
            </small>
        </p>
    </div>
</div>

{% endblock %}

