{% extends "base.html" %}

{%- block title %}
Lorgs: {{spec.full_name}} vs. {{boss.name}}
{%- endblock -%}


{% block header -%}
<div class="row mb-3 mt-3">
    <!-- HEADER -->
    <div class="col">
        <a href="https://www.warcraftlogs.com/zone/rankings/26#boss={{boss.id}}&class={{spec.class_.name_slug_cap}}&spec={{spec.name_slug_cap}}&metric={{spec.metric}}&region=2" target="_blank">
            <h1>
                <img class="icon-big rounded shadow wow-class-border-{{spec.class_name_slug}}" src="static/images/specs/{{spec.full_name_slug}}.jpg">
                <span class="wow-class-{{spec.class_name_slug}}">{{spec.full_name}}s</span>
                vs
                <img class="icon-big rounded shadow border" src="static/images/bosses/castle-nathria/{{boss.name_slug}}.jpg" alt="{{boss.name}}" target="_blank">
                {{boss.name}}
            </h1>
        </a>
    </div>

    <div class="col d-flex flex-column align-items-end">
        <div>
            <div class="flex-row d-flex">

                <!-- Roles -->
                <div class="ml-auto">
                    <div class="p-1 bg-dark border rounded">
                    {% for role in wow_data.ROLES %}
                        <div class="ranking-nav">
                            <img class="ranking-nav-role-icon icon-m rounded border border-black" src="static/images/roles/{{role.name|lower}}.jpg">

                            <div class="ranking-nav-role-specs bg-dark border rounded">
                                {% for spec in role.specs %}
                                <div {{'class="mb-1"' if not loop.last}}>
                                    {% if spec.supported %}
                                    <a href="rankings_{{spec.full_name_slug}}_{{boss.name_slug}}.html">
                                    {% else %}
                                    <a class="disabled" href="#">
                                    {% endif %}
                                        <img class="icon-spec icon-m rounded wow-class-border-{{spec.class_name_slug}}" src="static/images/specs/{{spec.full_name_slug}}.jpg" alt="{{spec.full_name}}" title="{{spec.full_name}}">
                                        <span class="wow-class-{{spec.class_name_slug}}">{{spec.full_name}}</span>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <!-- <div style="text-align: end;"><h5>other specs</h5></div> -->
                </div>

                <!-- Bosses -->
                <div class="ml-2">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        {% for boss2 in wow_data.ENCOUNTERS %}
                        <a href="rankings_{{spec.full_name_slug}}_{{boss2.name_slug}}.html" class="{{'active' if boss2 == boss}}" data-toggle="tooltip" title="{{boss2.name}}">
                            <img class="icon-spec icon-m border-black rounded" src="static/images/bosses/castle-nathria/{{boss2.name_slug}}.jpg" alt="{{boss2.name_slug}}">
                        </a>
                        {% endfor %}
                    </div>
                    <!-- <div style="text-align: end;"><h5>other bosses</h5></div> -->
                </div>

                <!-- Settings -->
                <div class="ml-2">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <input type="checkbox" id="show_settings">
                        <label for="show_settings" data-toggle="tooltip" title="open settings" class="m-0">
                            <i class="fas fa-tools fa-2x"></i>
                        </label>
                    </div>
                    <div style="text-align: end;" class="mt-2 bg-info rounded border p-2 shadow" id=settings_hint>
                        <h5>click here to show/hide spells <i class="fas fa-hand-point-up mx-1"></i></h5>
                    </div>

                </div>

                <!-- Home -->
                <div class="ml-2">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <a href="./" class="ranking-nav-home-icon" data-toggle="tooltip" title="home">
                            <i class="fas fa-home fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                {% include "elements/display_settings.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content -%}
<!-- TIMELINES -->
<div class="mt-3 p-2 bg-dark rounded border">

    <!-- Player Names -->
    <div class="player_names_container float-left">
        <div class="player_timeline_scroll_y">
            <div style="height: 32px"></div>
            {% for fight in fights %}
            {% for player in fight.players if player.casts %}
            {% include "elements/player_name.html" %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="player_timelines_container">
        {% include "elements/timeline_ruler.html" %}

        <div class="player_timeline_scroll_y">
        {% set inline_killtime=True %}
        {% for fight in fights %}
            {% for player in fight.players if player.casts %}
                {% include "elements/player_timeline.html" %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>

    {#
    <div class="col-12 px-2">
    #}
    <!-- <div class="timeline_cursor"></div> -->

    <div style="clear: both"></div>
</div>
{% endblock %}



<!-- Content Scripts -->
{% block scripts %}
{{ super() }}
{% include "elements/player_timeline_script.html" %}
{% endblock %}
