{% extends "base.html" %}

{% block content %}
<div class="row h-100" style="max-height:700px">
    <div class="col-sm-12 my-auto d-flex justify-content-center">
        <div style="width: 600px">
            <h4>Analyse Custom Report:</h4>

            <div class="bg-dark rounded border p-2">
                <form action="" method="post" novalidate class="d-flex">
                    {{ form.hidden_tag() }}
                    <div class="input-group has-validation">
                        <input class="form-control {{'is-invalid' if form.report_link.errors}}" id="report_link" name="report_link" placeholder="https://www.warcraftlogs.com/reports/..." required type="url" aria-describedby="report_link_erors">
                        <button class="btn btn-primary ml-1" id="load_report" name="load_report" type="submit"><i class="fas fa-play mr-2"></i>load</button>
                        {% for error in form.report_link.errors %}
                            <div id=report_link_erors class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                </form>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

