{% extends "base.html" %}

{% block title %}
Lorgs: Report: {{report.report_id}}
{% endblock %}


{% block header %}
<div class="mb-2 mt-3">
    <div class="row">

    <!-- HEADER -->
    <h1 class="col">
        <a href="{{report.report_url}}">Report: {{report.report_id}}</a>
    </h1>

    <div class="col ml-auto d-flex flex-row align-items-end">

        <!-- SETTINGS v2 -->
        <div class="ml-auto">
        {% include "elements/settings_bar.html" %}
        </div>

        <!-- Home -->
        <div class="ml-2 settings_bar">
            <small class="clear-both text-muted"></small>
            <div class="p-1 bg-dark border rounded">
                <a href="{{url_for('ui.index')}}" id=home_button class="button icon-s rounded fas fa-home" data-toggle="tooltip" title="click here or home"></a>
            </div>
        </div>
    </div>


    </div>
</div>
{% endblock %}


{% block content %}


<div class="settings_display d-flex flex-row">

    <!-- Players -->
    {% for role, players in report.unique_players|groupby("spec.role") %}
    <div class="mr-2">

        <small class="settings_display_role clear-both text-muted" data-role={{role.code}}>{{role.name}}</small>

        <div class="bg-dark p-1 rounded border d-flex flex-row">
            <div>
                {% for player in players|sort(attribute="spec.role.id,spec.name,name") %}
                {% set spec = player.spec %}
                <div class="settings_display_player wow-class-{{spec.wow_class.name_slug}}" data-source_id={{player.source_id}} data-role={{role.code}}>
                    <img class="icon-spec icon-s rounded wow-class-border-{{spec.class_name_slug}}" src="{{spec.img_path}}">
                    <span>{{player.name}}</span>
                </div>
                {% if loop.index is divisibleby(5) %}</div><div>{% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endfor %}

    <!-- Pulls -->
    <div class="">
        <small id=settings_display_pull_header class="clear-both text-muted">Fights/Pulls</small>

        <div class="bg-dark rounded border d-flex flex-wrap">
        {% for fight in report.fights %}
            <div class="settings_display_pull rounded p-1 m-1 text-center" style="width: 6rem" data-fight_id={{fight.fight_id}}>
                {{fight.fight_id}} <span class="text-muted">({{fight.duration|format_time}})</span>
                <div class="fight_percentage_bg">
                    <div class="fight_percentage_fg bg-{{fight.percent_color}}" style="width: {{100-fight.percent}}%"></div>
                </div>
            </div>

            {# {% if loop.index is divisibleby(5) %}<div class="flex-break"></div>{% endif %} #}

        {% endfor %}
        </div>
    </div>


</div>


<div class="d-flex flex-row mt-2">

    {#
    <div class="mr-2">
        {% include "elements/report_sidebar.html" %}
    </div>
    #}

    <!-- TIMELINES -->
    <div class="bg-dark p-2 rounded border" id=timeline>

            <!-- Player Names -->
            <div class="player_names_container float-left">

            <div style="height: 32px"></div>

            {% for fight in report.fights %}
                <div class="fight-container" data-fight_id={{fight.fight_id}}>
                    <small>#{{fight.fight_id}} ({{fight.duration|format_time}}) {{fight.percent}}% </small>

                    {% set i = -1 %}
                    {% set show_role_icon = false %}
                    {% for player in fight.players|sort(attribute="spec.role.id,spec.name,name") %}
                        {% include "elements/player_name.html" %}
                    {% endfor %}
                </div>
            {% endfor %}

            </div>

            <div class="player_timelines_container">
                <div class="timeline_cursor" style="left: 10px;"><div class="timeline_cursor_handle">0:00</div></div>

                {% include "elements/timeline_ruler.html" %}

                {% for fight in report.fights %}

                    <div class="timeline-fight" data-fight_id={{fight.fight_id}}>
                        <small>&nbsp;</small>

                        {% for player in fight.players|sort(attribute="spec.role.id,spec.name,name") %}
                            {% set inline_killtime=loop.first %}
                            {% include "elements/player_timeline.html" %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div style="clear: both"></div>
    </div>
</div>
{% endblock %}



<!-- Content Scripts -->
{% block scripts %}
{{ super() }}
{% include "elements/player_timeline_script.html" %}

<script type="text/javascript">


const SETTINGS_DISPLAY_PLAYER = document.querySelectorAll(".settings_display_player")
const SETTINGS_DISPLAY_FIGHTS = document.querySelectorAll(".settings_display_pull")


function update_players() {
    SETTINGS_DISPLAY_PLAYER.forEach(item => {
        const source_id = item.dataset.source_id;
        const timelines = document.querySelectorAll(`.player_timeline[data-source_id="${source_id}"]`);
        const timeline_player_names = document.querySelectorAll(`.player_name[data-source_id="${source_id}"]`);
        const enabled = !item.classList.contains("disabled")

        // show/hide
        timelines.forEach(el => {show(el, enabled)});
        timeline_player_names.forEach(el => {show(el, enabled)});
    });
};


function update_fights() {

    SETTINGS_DISPLAY_FIGHTS.forEach(item => {
        const fight_id = item.dataset.fight_id;
        const timelines = document.querySelectorAll(`.timeline-fight[data-fight_id="${fight_id}"]`);
        const timeline_player_names = document.querySelectorAll(`.fight-container[data-fight_id="${fight_id}"]`);
        const enabled = !item.classList.contains("disabled")

        // show/hide
        timelines.forEach(el => {show(el, enabled)});
        timeline_player_names.forEach(el => {show(el, enabled)});
    });
};



// show/hide players
SETTINGS_DISPLAY_PLAYER.forEach(item => {

    item.addEventListener("click", event => {

        if (event.ctrlKey) { // multi select
            item.classList.toggle("disabled")
        } else { // normal single select
            // disable all others
            SETTINGS_DISPLAY_PLAYER.forEach(other => {other.classList.add("disabled")});
            item.classList.remove("disabled") // make sure this one doesn't have it
        }
        update_players();
    });
});


// show/hide pulls
SETTINGS_DISPLAY_FIGHTS.forEach(item => {

    item.addEventListener("click", event => {

        if (event.ctrlKey) { // multi select
            item.classList.toggle("disabled")

        } else { // normal single select
            // disable all others
            SETTINGS_DISPLAY_FIGHTS.forEach(other => {other.classList.add("disabled")});
            item.classList.remove("disabled") // make sure this one doesn't have it
        }
        update_fights();
    });
});


document.getElementById("settings_display_pull_header").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const disabled = this.classList.contains("disabled")
    SETTINGS_DISPLAY_FIGHTS.forEach(other => {other.classList.toggle("disabled", disabled)});
    update_fights();
});

</script>



{% endblock %}
