{% extends "base.html" %}

{% block title %}
Lorgs:
{% endblock %}


{% block content %}
<!-- SETTINGS -->

<!-- TIMELINES -->
<div class="row bg-dark mx-3 mb-3 pt-2 rounded border">

    <div class="col-12">
        <h2>
            <img class=icon src="static/images/roles/healer.png">
            Reports by Heal Comp
        </h2>
    </div>

    <div class="col">
    {% for heal_comp in heal_comps %}
        <div>
            <h5>
                <a href="reports_healcomp_{{heal_comp.name}}.html">
                {% for spec in heal_comp.specs %}
                    <img class="icon_inline wow-class-border-{{spec.class_name_slug}}"; src="static/images/specs/{{spec.name_slug}}.jpg" alt="{{group }}">
                    <span class="wow-class-{{spec.class_name_slug}}">{{spec.short_name}}</span>
                    {% if not loop.last %}
                        <span> </span>
                    {% endif %}
                {% endfor %}
                </a>
            </h5>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}


