
{% macro header_boss(boss, spec) -%}
<h1 class="m-0">
    <a href="https://www.warcraftlogs.com/zone/rankings/{{boss.zone.id}}#boss={{boss.id}}&class={{spec.wow_class.name_slug_cap}}&spec={{spec.name_slug_cap}}&metric={{spec.role.metric}}" target="_blank">
        <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.full_name}}s</span>
        <span>vs.</span>
        <span>{{boss.name}}</span>
    </a>
</h1>
{%- endmacro %}


{##############################################################################}

{% extends "base.html" %}

{% block head %}{% endblock %}


{##############################################################################}
{# TITLE #}

{%- block title %}
Lorgs: {{spec.full_name}} vs. {{boss.name}}
{%- endblock -%}


{##############################################################################}
{# HEADER #}

{% block header -%}
<div class="mt-3 flex-row d-flex flex-wrap-reverse">
    <div class="mb-2">
    {{ header_boss(boss, spec) }}
    </div>

    <div class="ml-auto mb-2">
        {% include "elements/spec_ranking_nav.html" %}
    </div>
</div>
{% endblock %}


{##############################################################################}
{# CONTENT #}

{% block content -%}
    <div id=app_root></div>
{% endblock %}

{##############################################################################}
{# SCRIPTS #}
{% block scripts %}
{{ super() }}

<script type="text/javascript">
/* Define the Config/Settings for our App.

until I move fully to react or similar,
I could not find a cleaner way to pass those from flask/jinja over...

*/
const SETTINGS = {
    spec_slug: "{{spec.full_name_slug}}",
    boss_slug: "{{boss.name_slug}}",
}
</script>


{# React #}
{% if false or config.LOCAL_FILES %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js" integrity="sha512-qlzIeUtTg7eBpmEaS12NZgxz52YYZVF5myj89mjJEesBd/oE9UPsYOX2QAXzvOAZYEvQohKdcY8zKE02ifXDmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js" integrity="sha512-9jGNr5Piwe8nzLLYTk8QrEMPfjGU0px80GYzKZUxi7lmCfrBjtyCc1V5kkS5vxVwwIB7Qpzc7UxLiQxfAN30dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}

{# Konva #}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/konva/8.2.1/konva.min.js" integrity="sha512-Kae4IrvcqQ8H13MSTCuxrsUt9pHxzYOyNjTh3QqDtKhYYeLzexguA1aY4+lUAWZnrCRQ6CFx8zHVO8lKLkC/5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{# local js #}
<script defer src="{{url_for('static',filename='_generated/app.js')}}?tag={{config.BUILD_TAG}}"></script>

{% endblock %}


