{% extends "base.html" %}

{%- block title %}
Lorgs: {{spec.full_name}} vs. {{boss.name}}
{%- endblock -%}


{% block header -%}
<div class="mb-2 mt-3">
    <div class="flex-row d-flex">

    <!-- HEADER -->
    <div>
        <a href="https://www.warcraftlogs.com/zone/rankings/{{boss.zone.id}}#boss={{boss.id}}&class={{spec.wow_class.name_slug_cap}}&spec={{spec.name_slug_cap}}&metric={{spec.role.metric}}&region=2" target="_blank">
            <h1>
                <img class="icon-l rounded shadow wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
                <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.full_name}}s</span>
                vs
                <img class="icon-l rounded shadow border-white" src="{{boss.icon_path}}" alt="{{boss.name}}" target="_blank">
                {{boss.name}}
            </h1>
        </a>
    </div>

    <div class="ml-auto">

        <!-- NAV -->
        <div class="flex-row d-flex">

            <!-- Roles -->
            <div class="ml-auto">
                <div class="p-1 bg-dark border rounded">
                {% for role in roles %}
                    <div class="ranking-nav">
                        <img class="ranking-nav-role-icon icon-m rounded border-black" src="{{role.icon_path}}">

                        <div class="ranking-nav-role-specs bg-dark border rounded">
                            {% for spec in role.specs %}
                            <div {{'class="mb-1"' if not loop.last}}>
                                {% if spec.supported %}
                                <a href="{{url_for('ui.spec_ranking', spec_slug=spec.full_name_slug, boss_slug=boss.name_slug)}}">
                                {% else %}
                                <a class="disabled" href="#">
                                {% endif %}
                                    <img class="icon-spec icon-m rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}" alt="{{spec.full_name}}" title="{{spec.full_name}}">
                                    <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.full_name}}</span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <!-- Bosses -->
            <div class="ml-2">
                <div class="p-1 bg-dark border ml-auto rounded">
                    {% for boss2 in bosses %}
                    <a href="{{url_for('ui.spec_ranking', spec_slug=spec.full_name_slug, boss_slug=boss2.name_slug)}}" class="{{'active' if boss2 == boss}}" data-toggle="tooltip" title="{{boss2.name}}">
                        <img class="icon-spec icon-m border-black rounded" src="{{boss2.icon_path}}" alt="{{boss2.name_slug}}">
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Home -->
            <div class="ml-2">
                <div class="p-1 bg-dark border ml-auto rounded">
                    <a href="{{url_for('ui.index')}}" class="ranking-nav-home-icon" data-toggle="tooltip" title="home">
                        <i class="fas fa-home fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-2">
            {% include "elements/settings_bar.html" %}
        </div>
    </div>
</div>


</div>
{% endblock %}


{% block content -%}
{% from "elements/timeline_player_name.html" import player_name with context %}

<!-- TIMELINES -->
<div class="p-2 bg-dark rounded border">

    <!-- Player Names -->
    <div class="player_names_container spec_ranking float-left">
        <div style="height: 32px"></div>
        {% for player in players if true or player.casts %}
            {{ player_name(player, loop.index) }}
        {% endfor %}
    </div>

    <div class="player_timelines_container">
        {% include "elements/timeline_ruler.html" %}
        <div class="timeline_cursor" style="left: 10px;"><div class="timeline_cursor_handle">0:00</div></div>

        <div class="player_timeline_scroll_y">
        {% set inline_killtime=True %}
        {% for player in players if player.casts %}
            {% set fight=player.fight %}
            {% include "elements/player_timeline.html" %}
        {% endfor %}
        </div>
    </div>


    <div style="clear: both"></div>
</div>
{% endblock %}



<!-- Content Scripts -->
{% block scripts %}
<script src="{{url_for('static',filename='spells.js')}}"></script>
<script src="{{url_for('static',filename='timeline.js')}}"></script>
{{ super() }}
{% endblock %}
