<!-- NAV -->
<div class="flex-row d-flex gx-2">

{#     <!-- Roles -->
    <div class="p-1 bg-dark border rounded">
    {% for role in roles %}
        <div class="ranking-nav">
            <img class="ranking-nav-role-icon icon-m rounded border-black" src="{{role.icon_path}}">

            <div class="ranking-nav-role-specs bg-dark border rounded">
                {% for spec in role.specs %}
                <div {{'class="mb-1"' if not loop.last}}>
                    {% if spec.supported %}
                    <a href="{{url_for('ui.spec_ranking', spec_slug=spec.full_name_slug, boss_slug=boss.name_slug)}}">
                    {% else %}
                    <a class="disabled" href="#">
                    {% endif %}
                        <img class="icon-spec icon-m rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}" alt="{{spec.full_name}}" title="{{spec.full_name}}">
                        <span class="wow-class-{{spec.wow_class.name_slug}}">{{spec.full_name}}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div> #}

    <!-- Bosses -->
    <div class="p-1 bg-dark border ml-2 rounded">
        {% for boss2 in bosses if boss2.visible %}
        <a href="{{url_for('ui.comp_ranking', comp_name=comp.name, boss_slug=boss2.name_slug)}}" class="{{'active' if boss2 == boss}}" data-toggle="tooltip" title="{{boss2.name}}">
            <img class="icon-spec icon-m border-black rounded" src="{{boss2.icon_path}}" alt="{{boss2.name_slug}}">
        </a>
        {% endfor %}
    </div>

    <!-- Home -->
    <div class="p-1 bg-dark border ml-2 rounded">
        <a href="{{url_for('ui.index')}}" class="ranking-nav-home-icon" data-toggle="tooltip" title="home">
            <i class="fas fa-home fa-2x"></i>
        </a>
    </div>
</div>