<div id="settings_container">
    <div class="bg-dark p-1 mr-0 mt-2 rounded border d-flex flex-row" >

        <!-- DISPLAY -->
        <div class="ml-1">
            <h5><u>Display</u></h5>
            <div>
                <input type="checkbox" id="show-spell-casttime" checked>
                <label class="m-0" for="show-spell-casttime">show cast time</label>
            </div>

            <div>
                <input type="checkbox" id="show-spell-duration" checked>
                <label class="m-0" for="show-spell-duration">show duration</label>
            </div>

            <div>
                <input type="checkbox" id="show-spell-cooldown" checked>
                <label class="m-0" for="show-spell-cooldown">show cooldown</label>
            </div>
        </div>

        <!-- SPELLS -->
        {% for spec, group_spells in all_spells|groupby("group") %}
        {% set group_name = spec.full_name_slug %}
        {% set group_checked = spec.class_name_slug != "other" %}
        <div class="ml-3">
            <!-- Group Header -->
            <div class="spell-checkbox-group-header wow-class-{{spec.class_name_slug}}">
                <input type="checkbox" id="show-spells-group-{{group_name}}" {{"checked" if group_checked}} data-group={{group_name}}>
                <label class="form-check-label" for="show-spells-group-{{group_name}}">
                    <img class="icon-m rounded wow-class-border-{{spec.class_name_slug}}" src="static/images/specs/{{spec.full_name_slug}}.jpg">
                    {{ spec.name }}
                </label>
            </div>

            <!-- Spells -->
            {% for spell in group_spells %}
            <div class="ml-2">
                <div class="spell-checkbox-group wow-class-{{spec.class_name_slug}}">
                    <input type="checkbox" value="1" id="show-spell-{{spell.spell_id}}" {{"checked" if spell.show else ""}} data-group={{group_name}} data-spell_id={{spell.spell_id}}>
                    <label class="form-check-label" for="show-spell-{{spell.spell_id}}">
                        <a href="#" data-wowhead="spell={{spell.spell_id}}" data-wh-rename-link="true"></a>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">


////////////////////////////////
// Settings Hint
////////////////////////////////
const SETTINGS_HINT = document.getElementById("settings_hint");

function hide_hint() {
    hide(SETTINGS_HINT);
}
SETTINGS_HINT.onclick = hide_hint; // hide on click
setTimeout(hide_hint, 10000);  // auto hide after 10sec


////////////////////////////////
// Settings Options

const SHOW_SETTINGS_BUTTON = document.getElementById("show_settings");
const SETTINGS_CONTAINER = document.getElementById("settings_container");


SHOW_SETTINGS_BUTTON.addEventListener("click", function() {
    show(SETTINGS_CONTAINER, this.checked);
    hide_hint();

});

// show/hide all spell cast times
document.getElementById("show-spell-casttime").addEventListener("click", function() {
    document.querySelectorAll(".cast_text").forEach(el => {
        show(el, this.checked)
    });
});

// show/hide all spell duration bars
document.getElementById("show-spell-duration").addEventListener("click", function() {
    document.querySelectorAll(".cast_duration").forEach(el => {
        show(el, this.checked)
    });
});

// show/hide all spell cooldown bars
document.getElementById("show-spell-cooldown").addEventListener("click", function() {
    document.querySelectorAll(".cast_cooldown").forEach(el => {
        show(el, this.checked)
    });
});


function update_spell_display(checkbox) {
    let checked = checkbox.checked;
    let spell_id = checkbox.dataset.spell_id;

    document.querySelectorAll(`.cast[data-spell_id="${spell_id}"]`).forEach(cast => {
        show(cast, checked);
    });
}


const SPELL_CHECKBOX_GROUPS = document.querySelectorAll(".spell-checkbox-group")

SPELL_CHECKBOX_GROUPS.forEach(group => {

    let checkbox = group.querySelector("input");
    let label = group.querySelector("label");

    // re-connect label click to checkbox for spells
    label.addEventListener("click", event => {
        checkbox.checked = !checkbox.checked;
        update_spell_display(checkbox);
    });

    checkbox.addEventListener("change", event => {
        update_spell_display(checkbox);
    });
});


// initial refresh
document.addEventListener('DOMContentLoaded', (event) => {
    SPELL_CHECKBOX_GROUPS.forEach(group => {
        let checkbox = group.querySelector("input");
        update_spell_display(checkbox);
    });
});

// Group Headers
document.querySelectorAll(".spell-checkbox-group-header").forEach(group => {

    let checkbox = group.querySelector("input");
    let group_name = checkbox.dataset.group

    checkbox.addEventListener("change", function() {
        document.querySelectorAll(`.spell-checkbox-group input[data-group=${group_name}]`).forEach(child => {
            child.checked = checkbox.checked;
            update_spell_display(child);
        });
    });
});

</script>
