{% block scripts %}
<script src="spell_db.js"></script>
<script type="text/javascript">

$( document ).ready(function(){

    // Timeline Ruler Logic
    const cursor = document.querySelector(".timeline_cursor");
    const cursor_handle = document.querySelector(".timeline_cursor_handle");
    let cursor_clicked = false;
    var cursor_init_x = 0;
    var cursor_drag_dist = 0, cursor_drag_start_x = 0;

    function cursor_drag_start(e) {
        cursor_clicked = true;
        e.preventDefault();
        cursor.classList.add("active");
        cursor_drag_start_x = e.clientX; // store initial offset
        document.onmousemove = cursor_drag_move;
        document.onmouseup  = cursor_drag_stop;
    }

    function cursor_drag_move(e) {
        e = e || window.event;
        e.preventDefault();

        cursor_drag_dist = cursor_drag_start_x - e.clientX;
        cursor_drag_start_x = e.clientX;
        var x = cursor.offsetLeft - cursor_drag_dist;
        cursor.style.left = x + "px";

        cursor_handle.innerHTML = toMMSS(x / 4);
    }

    function cursor_drag_stop(e) {
        document.onmouseup = null;
        document.onmousemove = null;
        cursor_clicked = false;
        cursor.classList.remove("active");
    }

    // cursor.onmousedown = cursor_drag_start;
    cursor.addEventListener("mousedown", e => {
        cursor_drag_start(e);
    });


    // Horizontal Slider
    const slider = document.querySelector(".player_timelines_container");
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener("mousedown", e => {
        if (cursor_clicked) return;
        isDown = true;
        // slider.classList.add("active");
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener("mouseleave", () => {
        isDown = false;
        // slider.classList.remove("active");
    });

    slider.addEventListener("mouseup", () => {
        isDown = false;
        // slider.classList.remove("active");
    });

    slider.addEventListener("mousemove", e => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = x - startX;
        slider.scrollLeft = scrollLeft - walk;
    });

    slider.addEventListener("mousewheel", e => {
        if (!e.shiftKey) return;
        e.preventDefault();
        slider.scrollLeft += e.deltaY;
    });


    // Vertical Scrolls
    // https://stackoverflow.com/questions/12039038/how-to-synchronize-two-scrollbars-for-divs/12039247
    var ignoreScrollEvents = false
    function syncScroll(element1, element2) {
        element1.scroll(function (e) {
            var ignore = ignoreScrollEvents
            ignoreScrollEvents = false
            if (ignore) return
            ignoreScrollEvents = true
            element2.scrollTop(element1.scrollTop())
    })
    }


    // const div_a = $(".player_names_container .player_timeline_scroll_y");
    // const div_b = $(".player_timelines_container .player_timeline_scroll_y");
    // syncScroll(div_a, div_b)
    // syncScroll(div_b, div_a)

    /*
    var lines = document.querySelectorAll('.timeline_cursor');
    document.querySelectorAll(".timeline_cursor_container").forEach(item => {
        item.addEventListener("mousemove", event => {

            // var x = event.pageX - item.offset().left;
            var rect = item.getBoundingClientRect()
            var x = event.clientX - rect.left; //x position within the element.
            // var y = evt.pageY - $(this).offset().top;
            lines.forEach(function(line) {
                line.style.left = (x+10) + "px";
            }) // for each line
        }) // addEventListener
    }) // for each
    */
});

</script>
{% endblock %}