{% block scripts %}
<script src="spell_db.js"></script>
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', (event) => {

    // Timeline Ruler Logic
    const cursor = document.querySelector(".timeline_cursor");
    const cursor_handle = document.querySelector(".timeline_cursor_handle");
    let cursor_clicked = false;
    var cursor_init_x = 0;
    var cursor_drag_dist = 0, cursor_drag_start_x = 0;

    function cursor_drag_start(e) {
        cursor_clicked = true;
        // e.preventDefault();
        cursor.classList.add("active");
        cursor_drag_start_x = e.clientX; // store initial offset
        document.onmousemove = cursor_drag_move;
        document.onmouseup  = cursor_drag_stop;

         {passive: true}
    }

    function cursor_drag_move(e) {
        e = e || window.event;
        e.preventDefault();

        cursor_drag_dist = cursor_drag_start_x - e.clientX;
        cursor_drag_start_x = e.clientX;
        var x = cursor.offsetLeft - cursor_drag_dist;
        cursor.style.left = x + "px";

        cursor_handle.innerHTML = toMMSS(x / 4);
    }

    function cursor_drag_stop(e) {
        document.onmouseup = null;
        document.onmousemove = null;
        cursor_clicked = false;
        cursor.classList.remove("active");
    }

    cursor.addEventListener("mousedown", cursor_drag_start, {passive: true});

    // Horizontal Slider
    const slider = document.querySelector(".player_timelines_container");
    let isDown = false;
    let startX;
    let scrollLeft;


    function scroll_start(e) {
        if (cursor_clicked) return;
        isDown = true;
        // slider.classList.add("active");
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    }

    function scroll_move(e) {
        isDown = false;
    }

    function scroll_stop(e) {
        isDown = false;
    }

    slider.addEventListener("mousedown", scroll_start, {passive: true});
    slider.addEventListener("mouseleave", scroll_stop, {passive: true});
    slider.addEventListener("mouseup", scroll_stop, {passive: true});

    slider.addEventListener("mousemove", e => {
        if (!isDown) return;
        const x = e.pageX - slider.offsetLeft;
        const walk = x - startX;
        slider.scrollLeft = scrollLeft - walk;
    }, {passive: true});

    slider.addEventListener("mousewheel", e => {
        if (!e.shiftKey) return;
        e.preventDefault();
        slider.scrollLeft += e.deltaY;
    }, {passive: true});


    // Vertical Scrolls
    // https://stackoverflow.com/questions/12039038/how-to-synchronize-two-scrollbars-for-divs/12039247
    var ignoreScrollEvents = false
    function syncScroll(element1, element2) {
        element1.scroll(function (e) {
            var ignore = ignoreScrollEvents
            ignoreScrollEvents = false
            if (ignore) return
            ignoreScrollEvents = true
            element2.scrollTop(element1.scrollTop())
    })
    }
});
</script>
{% endblock %}