<div class="player_name wow-class-{{player.spec.class_name_slug}}">
    <img class="player_spec_icon" src="static/images/specs/{{player.spec.full_name_slug}}.jpg">
    <a href={{player.report_url}} target="_blank">

        <span class="wow-class-{{player.spec.class_name_slug}} player_name_name">{{player.name}}</span>

        {%   if i < 0 %}     {% set text_class="wow-class-" ~ player.spec.class_name_slug %}
        {% elif i == 1 %}    {% set text_class="text-artifact" %}
        {% elif i <= 25 %}   {% set text_class="text-astounding" %}
        {% elif i <= 100 %}  {% set text_class="text-legendary" %}
        {% else %}           {% set text_class="text-epic" %}
        {% endif %}


        {% if i > 0 %}
            <span class="player_name_number {{text_class}}">#{{i}}</span>
        {% else %}
            <span class="player_name_class {{text_class}}">{{player.spec.short_name}}</span>
        {% endif %}

        {% if player.total %}
            <span class="player_total {{text_class}}">{{player.total_fmt}}</span>
        {% endif %}
    </a>
</div>