{% block scripts %}
<script src="{{url_for('ui.spell_db')}}"></script>
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', (event) => {

    // Timeline Ruler Logic
    const cursor = document.querySelector(".timeline_cursor");
    const cursor_handle = document.querySelector(".timeline_cursor_handle");
    var cursor_drag_dist = 0, cursor_drag_start_x = 0;

    function cursor_drag_start(e) {
        disable_hover_effects();

        e.stopImmediatePropagation();

        cursor.classList.add("active");
        cursor_drag_start_x = e.clientX; // store initial offset

        document.addEventListener("mousemove", cursor_drag_move, {passive: true});
        document.addEventListener("mouseup", cursor_drag_stop, {passive: true, once: true});
    }

    function cursor_drag_move(e) {
        cursor_drag_dist = cursor_drag_start_x - e.clientX;
        cursor_drag_start_x = e.clientX;
        var x = cursor.offsetLeft - cursor_drag_dist;
        cursor.style.left = x + "px";
        cursor_handle.innerHTML = toMMSS(x / 4);
    }

    function cursor_drag_stop(e) {
        document.removeEventListener("mousemove", cursor_drag_move);
        document.removeEventListener("mouseup", cursor_drag_stop);
        cursor.classList.remove("active");
        enable_hover_effects();
    }

    cursor.addEventListener("mousedown", cursor_drag_start, {passive: true});


    ////////////////////////////////////////////
    // Horizontal Slider
    //
    const slider = document.querySelector(".player_timelines_container");
    let startX;
    let scrollLeft;

    function scroll_start(e) {
        disable_hover_effects();

        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;

        document.addEventListener("mousemove", scroll_mousemove, {passive: true});
        document.addEventListener("mouseup", scroll_stop, {passive: true, once: true});
    }

    function scroll_mousemove(e) {
        const x = e.pageX - slider.offsetLeft;
        const walk = x - startX;
        slider.scrollLeft = scrollLeft - walk;
    }

    function scroll_stop(e) {
        enable_hover_effects();
        document.removeEventListener("mousemove", scroll_mousemove);
    }

    slider.addEventListener("mousedown", scroll_start, {passive: true});

    // add shift -> side scroll
    slider.addEventListener("mousewheel", e => {
        if (!e.shiftKey) return;
        slider.scrollLeft += e.deltaY;
    }, {passive: true});

});
</script>
{% endblock %}