{% set fight = fight or player.fight %}
<div class="player_timeline" style="width: {{100 + (fight.duration / 250) }}px" data-source_id={{player.source_id}}>

    <!-- Casts -->
    <div class="cast_container inner_shadow" style="width: {{player.lifetime/250}}px">
    {% for cast in player.casts %}
        {% set spell = cast.spell %}

        <div class="cast" data-spell_id="{{spell.spell_id}}" style="left: {{cast.timestamp/250}}px{{'; display: none' if not spell.show}}">
            {% if spell.cooldown %}
                <div class="cast_cooldown" style="width: {{spell.cooldown * 4}}px; background-color: {{spell.color}}"></div>
            {% endif %}
            {% if spell.duration %}
                <div class="cast_duration" style="width: {{spell.duration * 4}}px; background-color: {{spell.color}}"></div>
            {% endif %}
            {% if spell.icon_path %}
                <img class="cast_icon" src="{{cast.spell.icon_path}}">
            {% endif %}
            {% if cast.timestamp %}
                <span class="cast_text">{{cast.timestamp|format_time}}</span>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <!-- Deaths -->
    {% for death in player.death_data %}
        <div class="player_death" style="left: {{death.deathTime/250}}px">

            {% if death.ability %}
                <a href="#a" data-wowhead="spell={{death.ability.guid}}">
                    <img class="cast_icon" src="https://wow.zamimg.com/images/wow/icons/medium/{{death.ability.abilityIcon}}">
                </a>
            {% endif %}

            <i class="fas fa-skull-crossbones"></i>
            {{death.deathTime|format_time}}

        </div>

    {% else %}
        {% if inline_killtime %}
        <div class="fight_killtime" style="left: {{ fight.duration / 250 }}px">
            <i class="fas fa-skull-crossbones"></i> {{fight.duration|format_time}}
        </div>
        {% endif %}

    {% endfor %}
</div>
