<div class="player_name wow-class-{{player.spec.wow_class.name_slug}}" data-source_id={{player.source_id}}>

    {% if show_role_icon %}
    <img class="player_role_icon" src="{{player.spec.role.icon_path}}">
    {% endif %}

    <img class="player_spec_icon" src="{{player.spec.icon_path}}">

    <a href={{player.report_url}} target="_blank">

        <span class="wow-class-{{player.spec.class_name_slug}} player_name_name">{{player.name[:4]}}</span>

        {%   if i < 0 %}     {% set text_class="wow-class-" ~ player.spec.class_name_slug %}
        {% elif i == 1 %}    {% set text_class="text-artifact" %}
        {% elif i <= 25 %}   {% set text_class="text-astounding" %}
        {% elif i <= 100 %}  {% set text_class="text-legendary" %}
        {% else %}           {% set text_class="text-epic" %}
        {% endif %}

        {% if i > 0 %}
            <span class="player_name_number {{text_class}}">#{{i}}</span>
        {% elif show_spec_name %}
            <span class="player_name_class {{text_class}}">{{player.spec.short_name}}</span>
        {% endif %}

        {% if player.total %}
            <span class="player_total {{text_class}}">{{player.total|format_big_number}}</span>
        {% endif %}
    </a>
</div>