{% set fight_duration = fight.duration / 250 %}
<div class="player_timeline" style="width: {{fight_duration + 100}}px">

    <!-- Casts -->
    <div class="cast_container inner_shadow" style="width: {{fight_duration}}px">
    {% for cast in player.casts %}
        <div class="cast" data-spell_id="{{cast.spell_id}}" data-cast-time={{cast.time}}></div>
    {% endfor %}
    </div>

    {% if inline_killtime %}
    <div class="fight_killtime">
        <i class="fas fa-skull-crossbones"></i> {{fight.duration_fmt}}
    </div>
    {% endif %}
</div>
