<!-- NOT USED RIGHT NOW -->


<div style="width: 140px;">

    <ul class="list-unstyled ps-0">


        <!-- Pulls -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#players-collapse" aria-expanded="false">Players</button>

            <div class="collapse bg-dark p-2 rounded border" id="players-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for role, players in report.unique_players|groupby("spec.role") %}
                    <a href="#a">
                        <small class="text-muted">{{role.name}}</small>
                    </a>
                    {% for player in players|sort(attribute="spec.role.id,spec.name,name") %}
                    {% set spec = player.spec %}
                        <li><a href="#a">
                        <div class="settings_display_player wow-class-{{spec.wow_class.name_slug}}" data-source_id={{player.source_id}}>
                            <img class="icon-spec icon-s rounded wow-class-border-{{spec.class_name_slug}}" src="{{spec.img_path}}">
                            <span>{{player.name}}</span>
                        </div>
                        </a></li>

                    {% endfor %}
                    {% endfor %}


                </ul>


            </div>
        </li>

        <li class="border-top my-3"></li>

        <!-- Pulls -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#pulls-collapse" aria-expanded="false">
            Pulls
            </button>
            <div class="collapse" id="pulls-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for fight in report.fights %}
                        <li><a href="#">#{{fight.fight_id}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>




<li class="mb-1">
<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
Account
</button>
<div class="collapse" id="account-collapse">
<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
<li><a href="#" class="link-dark rounded">New...</a></li>
<li><a href="#" class="link-dark rounded">Profile</a></li>
<li><a href="#" class="link-dark rounded">Settings</a></li>
<li><a href="#" class="link-dark rounded">Sign out</a></li>
</ul>
</div>
</li>
</ul>
</div>
