
{# some dev vars #}
<script>
const LORRGS_DEBUG = {{ 1 if config.LORRGS_DEBUG else 0 }}
</script>


{#
    Enable this to remove react devtools
<script>
    // before React is loaded
    if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
        __REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {};
    }
</script>
#}

{# React #}
{% if config.LORRGS_DEBUG %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js" integrity="sha512-qlzIeUtTg7eBpmEaS12NZgxz52YYZVF5myj89mjJEesBd/oE9UPsYOX2QAXzvOAZYEvQohKdcY8zKE02ifXDmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js" integrity="sha512-9jGNr5Piwe8nzLLYTk8QrEMPfjGU0px80GYzKZUxi7lmCfrBjtyCc1V5kkS5vxVwwIB7Qpzc7UxLiQxfAN30dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}

<script defer src=https://cdn.jsdelivr.net/npm/react-hook-form@7.17.0/dist/index.umd.min.js></script>


{# Redux #}
{% if config.LORRGS_DEBUG %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.1.1/redux.js" integrity="sha512-VSziEhiRlxaN8AZfc5UQiEnrcwM3KOp0GRITlYcQ7BCsEPq/VQMApwoZoh8zL69oo/Of+uVt/nygZbJAMst6jA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/7.2.5/react-redux.js" integrity="sha512-/Z5dRgJCwIquRCBYKNv6yFHqkgs887HHCSYKTeHNteepvTQRtAUP1xBrCP/bVmVw9eznv/rEBrrgTA0FTe/9Mw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.1.1/redux.min.js" integrity="sha512-F21iSaHGX/3NFz5SuwoH6pGhTPxtoJoWWULqQVPQPtLm7nbK5r8vRSSSYy3Aj+H39cVrVm4+3ikGoVD1AjE0sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/7.2.5/react-redux.min.js" integrity="sha512-9Opp+Ej8hMqTKKXZlOMMhJqmnmc+xsVNzFPRW5VoEMFYp2r6ooFj58PzFoUZgzutlXpmIvKZP9gQSLqSRSkoww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/reselect/4.0.0/reselect.min.js" integrity="sha512-tsMvk3BMjJ0KwWsH8OofK2tR1AJc670PtUcMrjW6hpSHNmWmR5MDOgD5lDPJDCOFonZfbBCMw4e/wy5pAseusg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


{# Konva #}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/konva/8.2.1/konva.min.js" integrity="sha512-Kae4IrvcqQ8H13MSTCuxrsUt9pHxzYOyNjTh3QqDtKhYYeLzexguA1aY4+lUAWZnrCRQ6CFx8zHVO8lKLkC/5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{# local js #}
<script defer src="{{url_for('static',filename='_generated/app.js')}}?tag={{config.BUILD_TAG}}"></script>
<script defer src="{{url_for('static',filename='_generated/vendor.js')}}?tag={{config.BUILD_TAG}}"></script>
