

{% macro spell_button(spec, spell) -%}
<a href="#a" data-wowhead="{{spell.wowhead_data}}">
    <img class="button icon-s rounded wow-class-border-{{spec.wow_class.name_slug}} {{"disabled" if not spell.show}}" src="{{spell.icon_path}}" data-bs-toggle="tooltip" data-spell_id={{spell.spell_id}} data-spell_group={{spec.full_name_slug}}>
</a>
{%- endmacro %}



<div id="settings_bar" class="settings_bar d-flex flex-row align-items-end flex-wrap">

    {# Global Buttons #}
    <div class="mr-2">
        <small class="clear-both text-muted">Display</small>
        <div class="bg-dark p-1 rounded border">
            <div id="settings_button_casttime" class="button icon-s rounded border-white fas fa-clock" data-bs-toggle="tooltip" title="cast time"></div>
            <div id="settings_button_duration" class="button icon-s rounded border-white fas fa-stream" data-bs-toggle="tooltip" title="active duration"></div>
            <div id="settings_button_cooldown" class="button icon-s rounded border-white fas fa-hourglass" data-bs-toggle="tooltip" title="cooldown"></div>
        </div>
    </div>

    <!-- Boss Spells -->
    {% if boss and boss.spells %}
    <div class="mr-2">
        <small class="clear-both wow-class-boss">Boss</small>
        <div class="bg-dark p-1 rounded border">
            {% for spell in boss.spells %}
            {{ spell_button(boss, spell) }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Show/Hide Specs -->
    {% if comp %}
    <div class="mr-2">
        <small class="clear-both text-muted">Specs</small>

        <div class="bg-dark p-1 rounded border">
            {% for spec in comp.specs %}
            <a href="#a" class="settings_button_spec" data-spec="{{spec.full_name_slug}}" data-bs-toggle="tooltip" title="{{spec.full_name}}">
                <img class="icon-spec icon-s rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Spec Spells -->
    {% for spec, group_spells in spells|groupby("group") %}
    {% set group_name = spec.short_name %}
    <div class="mr-2">
        {% set group_checked = spec.wow_class.name_slug != "other" %}

        <div class="group_header {{"disabled" if not group_checked}}" data-spell_group={{spec.full_name_slug}}>
            <small class="wow-class-{{spec.wow_class.name_slug}} clear-both">{{group_name}}</small >
        </div>

        <div class="bg-dark p-1 rounded border">
            {% for spell in group_spells %}
            {{ spell_button(spec, spell) }}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% include "elements/settings_bar_filters.html" %}

</div>


<script type="text/javascript">


const SPELL_SETTINGS_BAR = document.getElementById("settings_bar");


// show/hide all spell cast times
document.getElementById("settings_button_casttime").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    var event = new CustomEvent("toggle_casttime");
    event.show = enabled
    document.dispatchEvent(event);
});


// show/hide all spell duration bars
document.getElementById("settings_button_duration").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    var event = new CustomEvent("toggle_duration");
    event.show = enabled
    document.dispatchEvent(event);
});


// show/hide all spell cooldown bars
document.getElementById("settings_button_cooldown").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    var event = new CustomEvent("toggle_cooldown");
    event.show = enabled
    document.dispatchEvent(event);
});


SPELL_SETTINGS_BAR.querySelectorAll(".button[data-spell_id]").forEach(button => {

    button.addEventListener("click", event => {
        button.classList.toggle("disabled")
        let enabled = !button.classList.contains("disabled")

        var event = new CustomEvent("toggle_spell");
        event.show = enabled
        event.spell_id = button.dataset.spell_id
        document.dispatchEvent(event);
    })
})

</script>
