

{% macro spell_button(spec, spell) -%}
<a href="#a" data-wowhead="{{spell.wowhead_data}}">
    <img class="button icon-s rounded wow-class-border-{{spec.wow_class.name_slug}} {{"disabled" if not spell.show}}" src="{{spell.icon_path}}" data-bs-toggle="tooltip" data-spell_id={{spell.spell_id}} data-spell_group={{spec.full_name_slug}}>
</a>
{%- endmacro %}



<div class="settings_bar d-flex flex-row flex-wrap">

    {# Global Buttons #}
    <div class="mr-2">
        <small class="clear-both text-muted">Display</small>
        <div class="bg-dark p-1 rounded border">
            <div id="settings_button_casttime" class="button icon-s rounded border-white fas fa-clock" data-bs-toggle="tooltip" title="cast time"></div>
            <div id="settings_button_duration" class="button icon-s rounded border-white fas fa-stream" data-bs-toggle="tooltip" title="active duration"></div>
            <div id="settings_button_cooldown" class="button icon-s rounded border-white fas fa-hourglass" data-bs-toggle="tooltip" title="cooldown"></div>
        </div>
    </div>

    {# Boss Spells #}
    {% if boss and boss.spells %}
    <div class="mr-2">
        <small class="clear-both wow-class-boss">Boss</small>
        <div class="bg-dark p-1 rounded border">
            {% for spell in boss.spells %}
            {{ spell_button(boss, spell) }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {# Show/Hide Specs #}
    {% if comp %}
    <div class="mr-2">
        <small class="clear-both text-muted">Specs</small>

        <div class="bg-dark p-1 rounded border">
            {% for spec in comp.specs %}
            <a href="#a" class="settings_button_spec" data-spec="{{spec.full_name_slug}}" data-bs-toggle="tooltip" title="{{spec.full_name}}">
                <img class="icon-spec icon-s rounded wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {# Spec Spells #}
    {% for spec, group_spells in all_spells|groupby("group") %}
    {% set group_name = spec.short_name %}
    <div class="mr-2">
        {% set group_checked = spec.wow_class.name_slug != "other" %}

        <div class="group_header {{"disabled" if not group_checked}}" data-spell_group={{spec.full_name_slug}}>
            <small class="wow-class-{{spec.wow_class.name_slug}} clear-both">{{group_name}}</small >
        </div>

        <div class="bg-dark p-1 rounded border">
            {% for spell in group_spells %}
            {{ spell_button(spec, spell) }}
            {% endfor %}
        </div>
    </div>
    {% endfor %} {# specs #}
</div>


<script type="text/javascript">

// show/hide all spell cast times
document.getElementById("settings_button_casttime").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    document.querySelectorAll(".cast_text").forEach(el => {
        show(el, enabled)
    });
});

// show/hide all spell duration bars
document.getElementById("settings_button_duration").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    document.querySelectorAll(".cast_duration").forEach(el => {
        show(el, enabled)
    });
});

// show/hide all spell cooldown bars
document.getElementById("settings_button_cooldown").addEventListener("click", function() {
    this.classList.toggle("disabled")
    const enabled = !this.classList.contains("disabled")

    document.querySelectorAll(".cast_cooldown").forEach(el => {
        show(el, enabled)
    });
});

function show_casts(spell_id, enabled) {
    document.querySelectorAll(`.cast[data-spell_id="${spell_id}"]`).forEach(cast => {
        show(cast, enabled);
    });
}


// Hack: using the old settings
document.querySelectorAll(".settings_bar .button[data-spell_id]").forEach(item => {

    const spell_id = item.dataset.spell_id;
    const spell_group = item.dataset.spell_group;
    const group = document.querySelector(`.group_header[data-spell_group="${spell_group}"`);

    item.addEventListener("click", event => {
        item.classList.toggle("disabled")
        const enabled = !item.classList.contains("disabled")

        // show the cast
        show_casts(spell_id, enabled);

        // update group status
        if (enabled) {
            group.classList.remove("disabled");
        }

    });
});


/////////////////////////
// Specs
//

function show_spec(spec_name, enabled) {
    console.log("show spec", spec_name, enabled);

    document.querySelectorAll(`.player_name[data-spec="${spec_name}"]`).forEach(el => {
        show(el, enabled);
    });
    document.querySelectorAll(`.player_timeline[data-spec="${spec_name}"]`).forEach(el => {
        show(el, enabled);
    });


}

document.querySelectorAll(".settings_button_spec").forEach(item => {

    item.addEventListener("click", event => {
        item.classList.toggle("disabled")
        const enabled = !item.classList.contains("disabled")

        // shows specs
        show_spec(item.dataset.spec, enabled)
    });
});



/////////////////////////
// Header Clicks
//

document.querySelectorAll(".group_header").forEach(item => {

    const spell_group = item.dataset.spell_group;
    const spell_buttons = document.querySelectorAll(`.settings_bar .button[data-spell_group="${spell_group}"]`);

    item.addEventListener("click", event => {

        console.log("header clicked", spell_group)

        item.classList.toggle("disabled")
        const enabled = !item.classList.contains("disabled")

        spell_buttons.forEach(button => {
            button.classList.toggle("disabled", !enabled);
            show_casts(button.dataset.spell_id, enabled);
        });
    });

});
</script>

