

{%- macro spec_ranking_color(i=0) -%}
    {% if i == 1 %}:
        {% set text_class="text-artifact" %}
    {% elif i <= 25 %}
        {% set text_class="text-astounding" %}
    {% elif i <= 100 %}
        {% set text_class="text-legendary" %}
    {% else %}
        {% set text_class="text-epic" %}
    {% endif %}

    {#- we just return the value of the text class -#}
    {{text_class}}
{%- endmacro %}


{% macro player_name(player, i=0) %}

    <div class="player_name {{ spec_ranking_color(i) if i else 'wow-class-' + player.spec.wow_class.name_slug }}" data-source_id={{player.source_id}} data-spec="{{player.spec.full_name_slug}}">
        <img class="player_name__spec_icon" src="{{player.spec.icon_path}}">
        <a href={{player.report_url}} target="_blank">
            <span class="player_name__name wow-class-{{player.spec.wow_class.name_slug}}">{{player.name}}</span>
            {# Ranking #}
            {%- if i > 0 %}
            <span class="player_name__rank">#{{i}}</span>
            {% endif %}

            {#- Total #}
            {%- if player.total %}
            <span class="player_name__total">{{player.total|format_big_number}}</span>
            {% endif %}
        </a>
    </div>
{%- endmacro %}


{% macro boss_name(boss) -%}
<div class="boss_name">

    <img class="boss_name__spec_icon" src="{{boss.raid_boss.icon_path}}">
    <span class="boss_name__name">{{boss.raid_boss.name}}</span>
</div>
{%- endmacro %}

