
{% set scale = 4 %}

{% macro player_death(death) -%}
<div class="player_death" style="left: {{scale * death.deathTime/1000}}px">
    {% if death.ability %}
        <a href="#a" data-wowhead="spell={{death.ability.guid}}">
            <img class="cast_icon" src="https://wow.zamimg.com/images/wow/icons/medium/{{death.ability.abilityIcon}}">
        </a>
    {% endif %}
    <i class="fas fa-skull-crossbones"></i>
    {{death.deathTime|format_time}}
</div>
{%- endmacro %}


{% macro create_cast(cast) -%}
    {% set spell = cast.spell %}

    <div class="cast" data-spell_id="{{spell.spell_id}}" style="left: {{scale * cast.timestamp/1000}}px{{'; display: none' if not spell.show}}">
        {# Cooldown #}
        {%- if spell.cooldown %}
        <div class="cast_cooldown" style="width: {{spell.cooldown * scale}}px; background-color: {{spell.color}}"></div>
        {%- endif %}

        {# Duration #}
        {%- if spell.duration %}
        <div class="cast_duration" style="width: {{spell.duration * scale}}px; background-color: {{spell.color}}"></div>
        {%- endif %}

        {# Icon #}
        {%- if spell.icon_path %}
        <img class="cast_icon" src="{{cast.spell.icon_path}}">
        {%- endif %}

        {# Timetamp #}
        {%- if cast.timestamp %}
        <span class="cast_text">{{cast.timestamp|format_time}}</span>
        {%- endif %}

    </div>
{%- endmacro %}



{% macro player_timeline(player, show_killtime=False) -%}
    {% set fight = fight or player.fight %}
    <div class="player_timeline" style="width: {{ scale * player.lifetime/1000 }}px" data-source_id={{player.source_id}} data-spec="{{player.spec.full_name_slug}}">

        <!-- Casts -->
        <div class="cast_container" style="width: {{scale * player.lifetime/1000}}px">
        {% for cast in player.casts %}
            {{ create_cast(cast) }}
        {% endfor %}
        </div>

        {% if player.deaths %}
            <!-- Deaths -->
            {% for death in player.deaths %}
                {{ player_death(death) }}
            {% endfor %}

        {% else %}
            {% if show_killtime %}
            <div class="fight_killtime" style="left: {{scale * fight.duration /1000 }}px">
                <i class="fas fa-skull-crossbones"></i> {{fight.duration|format_time}}
            </div>
            {% endif %}
        {% endif %}
    </div>
{%- endmacro %}



