



.container {

    --hover-scale: 1.05;

    cursor: pointer;

    // for the "new"-overlay
    position: relative;
    overflow: hidden;

    :global .icon-l {
        border-width: 1.5px;
    }

    :global .h2 {
        margin-bottom: 0;
    }

    &:hover {
        border-color: white;
        background: hsl(0, 0%, 30%);
    }
}
