


/**
    Layout
*/

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.col_left, .col_right {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4, h3 {
        margin-bottom: 0.125rem;
    }

}


.col_left {
    max-width: 510px;
    justify-content: space-between;
}



.user_report_link {

    a:hover {
        color: var(--wow-artifact);
    }
}


.new_container {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

// overlay to indicate its new
.new {

    position: absolute;
    padding: 2px 30px;
    color: black;

    left: 0px;
    top: 0px;
    font-size: small;

    background: hsl(175, 85%, 45%);

    transform-origin: center;

    transform:
        rotate(-45deg)
        translateX(-30%)  // eye balled the values
        translateY(-75%);
}
