__pycache__/
*.py[cod]
*.swp
*.*~
*~
*.sublime-workspace
*.scannerwork
.vscode
.coverage

static
node_modules
venv
_src
.mypy_cache
dist
# for ".env", we need this (since its already tracked)
# >>> git update-index --assume-unchanged .env
.env
.env_bak

deploy_variables.yaml

# google account credentials
google_creds.json
tsconfig.tsbuildinfo

.serverless/
.deploy/
