
################
# Python
__pycache__/
*.py[cod]
*.swp
*.*~
*~
*.scannerwork
.coverage
.mypy_cache


################
# Code Editors
*.sublime-workspace
.vscode
.idea

################
# Local Dev/Build Files
static
node_modules
venv
_src
dist
.deploy/
*.webp


################
# Config Files
.env
tsconfig.tsbuildinfo

# wip
docs
