__pycache__/
*.py[cod]
*.swp
*.*~
*~
*.sublime-workspace
*.scannerwork
.vscode

_build
static
node_modules
frontend/public/**/*.webp

# for ".env", we need this (since its already tracked)
# >>> git update-index --assume-unchanged .env
.env
.env_bak

venv/
deploy_variables.yaml

# google account credentials
google_creds.json

package-lock.json

tsconfig.tsbuildinfo
