# Template ".env" file.
# rename/copy to just ".env" in the projects root folder and fill in the variables


################################
# Internal Config
LORGS_CONFIG_NAME=lorgs.config.DevelopmentConfig


################################
# Third Party Credentials

# warcraftlogs
# (get them from here: https://www.warcraftlogs.com/api/clients)
WCL_CLIENT_ID=
WCL_CLIENT_SECRET=


# Discord Settings used for Auth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
REDIRECT_URI="http://127.0.0.1:9001/login"


################################
# Database Credentials

# mongo db for data storage
MONGO_URI=

# redis for caching
REDIS_URL=

