

/********************************
        Fight
*********************************/
.fight {
    display: flex; // why?
    margin-bottom: var(--timeline-fight-gap, 0);
}



/********************************
        Player Names
*********************************/

.player_name,
.boss_name {

    width: 175px;
    height: calc(var(--timeline-height) + 1px);
    padding-right: 5px;

    border: 1px solid black;

    overflow: hidden;
    position: relative;

    &__spec_icon,
    &__role_icon {
        width: var(--timeline-height);
        height: var(--timeline-height);
        border-right: 1px solid black;
    }

    &__name,
    &__rank,
    &__total {
        font-size: 1.2rem;
        position: absolute;

        // Y Position
        top: 50%;
        transform: translateY(-50%);
    }

    &__name,
    &__rank {
        margin-left: 4px;
    }

    &__total {
        right: 5px;
    }
}


.player_name {
    background: hsl(0, 0%, 30%);

    &:hover {
        background: hsl(0, 0%, 40%);
    }

    // slowly fade back
    &:not(:hover) {
        .player_name__rank,
        .player_name__total,
        .player_name__name {
            transition-property: filter, opacity;
            transition-timing-function: ease-in;
            transition-duration: 4s;
            transition-delay: 1s;
        }
    }

}


.boss_name + .player_name,
.player_name + .player_name {
    margin-top: -1px;  // 1px overlap on border
}


.boss_name {
    background: hsl(175, 20%, 55%);
    color:  hsl(175, 20%, 20%);
    font-weight: bold;

    // border-top-left-radius: 0.25rem;

    &:hover {
        background:  hsl(175, 50%, 60%);
    }
}


/********************************
        Mode Overwrites
*********************************/
@mixin blur {
    filter: blur(2px);
    opacity: 0;
}


// Edits for the Spec Rankings
:global .spec_ranking { :local {


    .fight:first-of-type .boss_name {
        border-top-left-radius: 0.25rem;
    }
    .fight:last-of-type .player_name {
        border-bottom-left-radius: 0.25rem;
    }

    // Hover Blur
    .player_name:hover .player_name__rank,
    .player_name:hover .player_name__total,
    .player_name:not(:hover) .player_name__name {
        @include blur;
    }
}}


:global .comp_ranking { :local {

    // round of the corners per fight
    .boss_name:first-child,
    .player_name:first-child {
        border-top-left-radius: 0.25rem;
    }

    .boss_name:last-child,
    .player_name:last-child {
        border-bottom-left-radius: 0.25rem;
    }
}}


:global .comp_ranking {
    :local {
    // Hover Blur
    .player_name:not(:hover) .player_name__total,
    .player_name:hover .player_name__name {
        @include blur;
    }
}}


:global .user_report {
    :local {

        // hide top border to compensate for "fight info"-box
        .boss_name {
            border-top: none;
        }
    }
}
