

.player_names_list {

    display: flex;
    flex-direction: column;

    margin-top: var(--timeline-ruler-height);
}

:global .user_report {
    :local {
        .player_names_list {
            margin-top: 0px;
        }
    }
}
