

.overlay {
    z-index: 99;
    position: absolute;
    top: 25rem;
    left: 50%;
}


/** used to dim other elements when they are loading */
:global .loading_trans {
    opacity: 0.33;
    filter: blur(1px);
}