
.container {

    margin: 0 -15px;  // counter padding from container

    font-size: larger;
    background: hsl(175, 50%, 60%);

    text-align: center;
    padding: 0.5rem;
    color: black;

    strong {
        font-weight: 900;
    }
}
