

.container {
    height: 3.23rem; // icon-l height
    position: relative;
}


.logo {
    vertical-align: top; // align inside the div
    margin-top: -1.25px; // offset for border
    cursor: pointer;

    // pick up the color set from "wow-<classname>"
    color: var(--wow-color);
    border: 1px solid currentColor;

    path {
        fill: currentColor;
    }

    &:hover {
        color: white;
        transform: scale(1.1);
    }

    &:not(:hover) {
        transition: all 0.75s 0.25s ease;
    }
}

