{% block scripts %}
<script type="text/javascript">


$( document ).ready(function(){

    var lines = document.querySelectorAll('.timeline_cursor');
    document.querySelectorAll(".timeline_cursor_container").forEach(item => {
        item.addEventListener("mousemove", event => {

            // var x = event.pageX - item.offset().left;
            var rect = item.getBoundingClientRect()
            var x = event.clientX - rect.left; //x position within the element.
            // var y = evt.pageY - $(this).offset().top;
            lines.forEach(function(line) {
                line.style.left = (x+10) + "px";
            }) // for each line
        }) // addEventListener
    }) // for each
})
</script>
{% endblock %}