

<!-- by role -->
<div class="row mini-nav">
{% for role in [wow_data.RANGE, wow_data.MELEE, wow_data.HEALS, wow_data.TANKS] %}
    {% for spec2 in role %}
    <a class="{{'disabled' if not spec2.supported}}" href="rankings_{{spec2.full_name_slug}}_{{boss.name_slug}}.html">
        <img class="icon-spec icon-s wow-class-border-{{spec2.class_name_slug}}" src="static/images/specs/{{spec2.full_name_slug}}.jpg" alt="{{spec2.full_name}}" title="{{spec2.full_name}}">
    </a>
    {% endfor %}
    <div style="width: 10px"></div>
{% endfor %}
</div>

<div class="row mt-1 mini-nav">
    {% for boss2 in wow_data.ENCOUNTERS %}
    <a class="{{'active' if boss == boss2}}" href="rankings_{{spec.full_name_slug}}_{{boss2.name_slug}}.html">
        <img class="icon-spec icon-m border-black" src="static/images/bosses/castle-nathria/{{boss2.name_slug}}.jpg" alt="{{boss2.name_slug}}" title="{{boss2.name_slug}}">
    </a>
    {% endfor %}
</div>

