/* General Element Styles


    1) standard HTML Tags
        1.1) html, body
        1.2) text elements

    2) Generic Styles used for any type of element
        2.1) disabled

    3) Borders

    4) Form Inputs


*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}


body {
    background-color: hsl(40, 20%, 8%);
    color: hsl(0, 0%, 90%);
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    /*background: #36393f;*/
    text-size-adjust: 100%;


    // always show scrollbar, to avoid weird layout changes
    // overflow-y: scroll;
}

* {
    box-sizing: border-box;
}



// disable link text color
a, a:hover, a:visited, a:active {
    color: inherit;
    // text-decoration: none;
 }


.text-black {
    color: #000;
}

.text-white {
    color: #FFF;
}

.text-muted {
    color: #888 !important;
}
.text-wrap {
    white-space: normal !important;
}

.text-dark {
    color: #303030; // only used on the help page
}

.text-danger {
    color: var(--danger);
}


/*******************************************************************************
 *
 * 2) Generic Styles
 *
*******************************************************************************/

/** 2.1) disabled style */
.disabled {
    color: grey !important;
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*******************************************************************************
 *
 * 3) Borders
 *
*******************************************************************************/
.border {
    border: 1px solid #424242;
}

.border-black {
    border: 1px solid black;
}

.border-white {
    border: 1px solid white;
}

.border-mid {
    border-width: 1.25px;
}

.rounded {
    border-radius: 0.25rem !important;
}


/*******************************************************************************
 *
 * 4) Form Inputs
 *
*******************************************************************************/

.form-input {

    // only apply the styles when the inputs arn't empty
    &:not(:placeholder-shown) {
        font-weight: bold;

        // not empty + valid
        :not(:focus):valid,
        :not(:focus).valid
        {
            border: var(--success) solid 2px;
        }

        &:invalid,
        &.invalid
        {
            border: var(--danger) solid 2px;
            color: var(--danger);
        }
    }
}

