/* Styles used for general/shared Design. */


:root {
    --bg-dark: hsl(0, 0%, 18%);
    --bg-dark-hover: hsl(0, 0%, 30%);
}


.bg-dark {
    background-color: var(--bg-dark);
}

.bg-warning {
    background-color: var(--warning);
}



.hover_grow_source {

    &:hover .hover_grow_target {
        transform: scale(1.1);
    }

    &:not(:hover) .hover_grow_target {
        transition: transform 0.5s 0.1s;
    }
}

/** owo? */
.grow-when-touched {


    &:hover {
        transform: scale(var(--hover-scale, 1.2));
    }

    &:not(:hover) {
        transition: transform 0.5s 0.1s;
    }
}


