

.icon-xs,
.icon-s,
.icon-m,
.icon.l {
    user-select: none;
}


.icon-xs {
    width: 1.0rem;
    height: 1.0rem;
}


.icon-s {
    width: 1.5rem;
    height: 1.5rem;
}


.icon-m {
    width: 2rem;
    height: 2rem;
}


.icon-l {
    width: 3.23rem;
    height: 3.23rem;
}
