$sizes: (
    "0": 0,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 1rem,
    "4": 1.5rem,
    "5": 3rem,
);



.container {
    display: flex;
    flex-direction: column;
    // border: 1px solid green;
    height: 100% !important;

    /* for now to match bootstrap */
    padding-right: 15px;
    padding-left: 15px;

    // avoid tooltips affecting the overall page witdth
    // eg.: tooltip for the last boss at the top right corner
    overflow-x: hidden;
}


/** Wrapper to center content in the middle of the page */
.content_center {

    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    /* for now to match bootstrap */
    // padding-right: 15px;
    // padding-left: 15px;

    margin-bottom: 0.5rem;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


/*******************************************************************************
            Flexbox Helpers
*******************************************************************************/

.d-flex {
    display: flex !important;

    // align-items: center;
    // justify-content: center;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}


.flex-grow-1 {
    flex-grow: 1 !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}


.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}


.align-content-start {
    align-content: flex-start;
}



/*******************************************************************************
            Grid Helpers
*******************************************************************************/

.d-grid {
    display: grid;
}


@each $name, $size in $sizes {

    // gap-1, gap-2 etc
    .gap-#{$name} {
        gap: $size;
    }
}

/*******************************************************************************
            Row/Col Layout
*******************************************************************************/

.row {
    display: flex;
    flex-direction: row;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}



/*******************************************************************************
            Margin and paddings
*******************************************************************************/

@each $name, $size in $sizes {

    .p-#{$name} {
        padding: $size;
    }

    .m-#{$name} {
        margin: $size;
    }

    .mt-#{$name}, .my-#{$name} {
        margin-top: $size;
    }
    .mb-#{$name}, .my-#{$name} {
        margin-bottom: $size;
    }
    .ml-#{$name}, .mx-#{$name} {
        margin-left: $size;
    }

    .mr-#{$name}, .mx-#{$name} {
        margin-right: $size;
    }
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}


/*******************************************************************************
            Typography
*******************************************************************************/

a {
    text-decoration: none;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}



h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 3rem;
}

h2, .h2 {
    font-size: 2.5rem;
}


h3, .h3 {
    font-size: 2rem;
}

h4, .h4 {
    font-size: 1.40625rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

b, strong {
    font-weight: bolder;
}

small, .small {
    font-size: 80%;
    font-weight: 400;
}


.fs-5 {
    font-size: 1.25rem!important;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(230, 230, 230, 0.25); // original border was rgb230 + 0.25 opacity
    height: 2px;
    width: 100%;
}


.text-center {
    text-align: center;
}


/*******************************************************************************
            Inputs
*******************************************************************************/

.input-group {

    --border-radius: 0.2rem;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;


    .form-control:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .form-control:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    // font-size: 0.9375rem;  why?
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #222;

    &:focus {
        color: #444;
        background-color: #fff;
        border-color: #739ac2;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgb(55 90 127 / 25%);
        box-shadow: 0 0 0 0.2rem rgb(55 90 127 / 25%);
    }
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;
    padding: 0.0rem 0.5rem;
    margin-bottom: 0;
    // font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;

    color: #adb5bd;
    text-align: center;
    white-space: nowrap;
    background-color: #444;
    border: 1px solid #222;
    border-left: 0;
    border-right: 0;
    // border-radius: 0.25rem;
}



/*******************************************************************************
            Navbar (help page)
*******************************************************************************/

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;

    margin-left: -15px;
    margin-right: -15px;
}




