

$classes: (
    // qualities
    "common":     #ccc,
    "uncommon":   #0f8000,
    "rare":       #0070ff,
    "epic":       rgb(163,53,238),
    "legendary":  rgb(255,128,0),
    "astounding": rgb(226,104,168),
    "artifact":   rgb(229,204,128),

    // Roles
    "tank": #1980e0,
    "heal": #4dcf29,
    "mdps": #C41E3A,
    "rdps": #ffb405,
    "mix": #b6977c,

    // classes
    "deathknight": #C41E3A,
    "demonhunter": #A330C9,
    "druid":       #FF7C0A,
    "hunter":      #AAD372,
    "mage":        #3FC7EB,
    "monk":        #00FF98,
    "paladin":     #F48CBA,
    "priest":      #FFFFFF,
    "rogue":       #FFF468,
    "shaman":      #0070DD,
    "warlock":     #8788EE,
    "warrior":     #C69B6D,

    "other": hsl(160, 20%, 70%),
    "boss":  hsl(175, 50%, 60%),

    // covenants
    "kyrian":    LightSkyBlue,
    "venthyr":   FireBrick,
    "nightfae":  #8d5ca1,
    "necrolord": MediumSeaGreen,

    "kill": #80e666,
    "wipe": #e65c39,
);


// add all the colors as root-vars
:root {
    @each $name, $color in $classes {
        --wow-#{$name}: #{$color};
    }
}

// create classes for each
// we set the actual color values (as opposed to linking them as var(--wow-druid))
// to make the browsers job easier
@each $name, $color in $classes {

    .wow-#{$name} {
        --wow-color: #{$color};
        color: $color;
        text-decoration-color: $color;
    }

    .wow-border-#{$name} {
        border: 1px solid $color;
    }

}

// slightly tuned down the colors for Hunter and Monk
// .wow-bg-hunter {background-color: #7e9c54}
// .wow-bg-monk {background-color: #38c78d}
