

.spell_button {

    position: relative;

    :global .dynamic_cd_warning {
        position: absolute;
        font-size: 8px;
        right: 0;
        top: 0;
        cursor: help;
    }
}
