

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.boss_group {
    // border: 1px solid salmon;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

// div that contains all the fights
.fights_group {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.25rem;
}
