

.url_input {

    display: flex;
    flex-wrap: nowrap;  // input-group sets it to wrap
    gap: 0.4rem;

    input {
        font-size: large;
        border-color: var(--wow-artifact);
        border-radius: var(--border-radius);
    }

    button {

        --color: var(--wow-artifact);

        border: 1px solid var(--color);

        width: 41px;
        height: 41px;
        flex-shrink: 0;

        background-color: var(--bg-dark);
        color: var(--color);
        border-color: var(--color);

        border-radius: var(--border-radius);

        i {
            font-size: 1.75em;
        }


        &:disabled,
        &:disabled:hover {
            cursor: default;
            --color: hsl(0, 0%, 40%);
            border-color: var(--color);
        }

        &:not(:disabled):hover {
            --color: white;
            background-color: var(--bg-dark-hover);
        }
    }
}
