

.url_input {

    display: flex;
    flex-wrap: nowrap;  // input-group sets it to wrap


    input {
        font-size: large;
        border-right: none;
    }


    button {
        font-size: large;

        border: 1px solid black;

        padding: 0.5rem 1rem;
        background-color: var(--wow-boss);

        &:disabled,
        &:disabled:hover {
            cursor: default;
            background-color: hsl(175, 5%, 50%);
            opacity: 0.3;
            border-color: black;
        }

        &:not(:disabled):hover {
            color: white;
        }
    }

    button + button {
        border-left: None !important;
    }

    button:last-child  {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }


}
