
.container {
    display: flex;
    gap: 1rem;

    // the width we currently need for the 2 select grids
    flex-basis: 1088px;

    flex-direction: column;
    justify-content: center;
}


.submit_button {
    --hover-scale: 1.1;

    --color: var(--wow-artifact);

    border: 1px solid black;
    background-color: var(--bg-dark);

    border-color: var(--color);
    color: var(--color);

    border-radius: .25rem;
    height: 40px;
    width: 6rem; // same width as the select grid items
    padding: 7px 16px;

    font-size: larger;

    &:not(:disabled):hover {
        --color: white;
    }

    &:disabled,
    &:disabled:hover {
        --hover-scale: 1.0;
        --color: hsl(0, 0%, 40%);

        cursor: default;
        border-color: var(--color);
    }
}
