{% extends "base.html" %}

{% block title %}
Lorgs: {{boss.name}}
{% endblock %}


{% block content %}
<div class="row mb-1">
    <!-- HEADER -->
    <div class="col pl-0">
        <h1>
            <img class="icon-big rounded shadow border" src="static/images/bosses/castle-nathria/{{boss.name_slug}}.jpg" alt="{{boss.name}}" target="_blank">
            {{boss.name}}
            vs
            {% for spec in comp.specs %}
                <img class="icon-big rounded shadow wow-class-border-{{spec.class_name_slug}}" src="static/images/specs/{{spec.full_name_slug}}.jpg" alt="{{group }}">
                <span class="wow-class-{{spec.class_name_slug}}">{{spec.short_name}}</span>
                {% if not loop.last %}
                    <span> </span>
                {% endif %}
            {% endfor %}
        </h1>
    </div>

    <div class="col pr-0 d-flex flex-column align-items-end">
        <div>
            <div class="flex-row d-flex mb-1">
                <!-- Settings -->
                <div class="ml-auto">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <input type="checkbox" id="show_settings">
                        <label for="show_settings" data-toggle="tooltip" title="open settings" class="m-0">
                            <i class="fas fa-tools fa-2x"></i>
                        </label>
                    </div>
                </div>

                <!-- Home -->
                <div class="ml-2">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <a href="./" class="ranking-nav-home-icon" data-toggle="tooltip" title="home">
                            <i class="fas fa-home fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                {% include "elements/display_settings.html" %}
            </div>
        </div>
    </div>
</div>











<!-- SETTINGS -->
{% include "elements/display_settings.html" %}


<!-- TIMELINES -->
<div class="row bg-dark mt-3 py-2 rounded border" id=timeline>
    {% for fight in fights %}
    {% set report = fight.report %}

    <div class="col-12 px-2 mb-3">

        <!-- Fight Headline -->
        <div class="row">
            <div class="col">
                <div class="float-left">
                    <a href="{{fight.report_url}}" target="_blank">
                        <h5>
                            &lt;{{report.guild}}&gt;
                            <span class="text-muted">
                                ({{report.region}}) {{report.realm}}
                                /
                                <i class="fas fa-skull-crossbones"></i> {{fight.duration_fmt}}
                            </span>
                        </h5>
                    </a>
                </div>
            </div>
        </div>

        <!-- <div class="timeline_cursor_container"> -->
            {% for player in fight.players if player.casts %}
            <div class="row">
                <div class="col-12">
                    {% include "elements/player_timeline.html" %}
                </div>
            </div>
            <!-- <div class="timeline_cursor"></div> -->
            {% endfor %}
        <!-- </div> -->
    </div>

    {% endfor %}
</div>


{% endblock %}



<!-- Content Scripts -->
{% block scripts %}
{{ super() }}
{% include "elements/player_timeline_script.html" %}
{% endblock %}
