{% extends "base.html" %}

{% block title %}
Lorgs: {{boss.name}}
{% endblock %}


{% block content %}
<div class="row mb-1">
    <!-- HEADER -->
    <div class="col pl-0">
        <h1>
            <img class="icon-big rounded shadow border" src="static/images/bosses/castle-nathria/{{boss.name_slug}}.jpg" alt="{{boss.name}}" target="_blank">
            {{boss.name}}
            vs
            {% for spec in comp.specs %}
                <img class="icon-big rounded shadow wow-class-border-{{spec.class_name_slug}}" src="static/images/specs/{{spec.full_name_slug}}.jpg" alt="{{group }}">
                <span class="wow-class-{{spec.class_name_slug}}">{{spec.short_name}}</span>
                {% if not loop.last %}
                    <span> </span>
                {% endif %}
            {% endfor %}
        </h1>
    </div>

    <div class="col pr-0 d-flex flex-column align-items-end">
        <div>
            <div class="flex-row d-flex mb-1">
                <!-- Settings -->
                <div class="ml-auto">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <input type="checkbox" id="show_settings">
                        <label for="show_settings" data-toggle="tooltip" title="open settings" class="m-0">
                            <i class="fas fa-tools fa-2x"></i>
                        </label>
                    </div>

                    <div style="text-align: end;" class="mt-2 bg-info rounded border p-2 shadow" id=settings_hint>
                        <h5>click here to show/hide spells <i class="fas fa-hand-point-up mx-1"></i></h5>
                    </div>

                </div>

                <!-- Home -->
                <div class="ml-2">
                    <div class="p-1 bg-dark border ml-auto rounded">
                        <a href="./" class="ranking-nav-home-icon" data-toggle="tooltip" title="home">
                            <i class="fas fa-home fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SETTINGS -->
<div class="row">
    <div class="col px-0">
        <div class="d-flex flex-row">
            <div class="ml-auto">
                {% include "elements/display_settings.html" %}
            </div>
        </div>
    </div>
</div>

<!-- TIMELINES -->
<div class="bg-dark mt-3 py-2 rounded border" id=timeline>

        <!-- Player Names -->
        <div class="player_names_container float-left">

        {% for fight in fights %}
            {% set report = fight.report %}
            <div style="height: 32px">
                <!-- Fight Headline -->
                <div class="float-left overflow-hidden">
                    <h5>
                        <a href="{{fight.report_url}}" target="_blank" data-toggle="tooltip" title="&lt;{{report.guild}}&gt; {{report.realm}} ({{report.region}})">
                            &lt;{{report.guild}}&gt;
                        </a>
                    </h5>
                </div>
            </div>

            {% for player in fight.players if player.casts %}
                {% include "elements/player_name.html" %}
            {% endfor %}
        {% endfor %}

        </div>


        <div class="player_timelines_container">
            {% for fight in fights %}

                {% set timeline_duration = fight.duration %}
                {% include "elements/timeline_ruler.html" %}

                {% for player in fight.players if player.casts %}
                    {% set inline_killtime=loop.first %}
                    {% include "elements/player_timeline.html" %}
                {% endfor %}
            {% endfor %}
        </div>

        <div style="clear: both"></div>

</div>


{% endblock %}



<!-- Content Scripts -->
{% block scripts %}
{{ super() }}
{% include "elements/player_timeline_script.html" %}
{% endblock %}
