{% extends "base.html" %}

{% block title %}
Lorgs: {{spec.full_name}} vs. {{boss.name}}
{% endblock %}


{% block content %}
<!-- HEADER -->
<div class="row bg-dark mx-3 mb-3 p-2 rounded border">
    <div class="col">
        <h1>
            <a href="https://www.warcraftlogs.com/zone/rankings/26#boss={{boss.id}}&class={{spec.class_.name_slug_cap}}&spec={{spec.name_slug_cap}}&metric={{spec.metric}}&region=2" target="_blank">
                <img class="icon-big rounded shadow border" src="static/images/specs/{{spec.name_slug}}.jpg">
                <span class="wow-class-{{spec.class_name_slug}}">{{spec.full_name}}s</span>
            </a>
            vs
            <a href="https://www.warcraftlogs.com/zone/rankings/26#boss={{boss.id}}&metric={{spec.metric}}">
                <img class="icon-big rounded shadow border" src="static/images/bosses/castle-nathria/{{boss.name_slug}}.jpg" alt="{{boss.name}}" target="_blank">
                {{boss.name}}
            </a>
        </h1>
    </div>
</div>


<!-- SETTINGS -->
<div class="row bg-dark mx-3 mb-3 p-1 rounded border">
    <div class="col-4 pl-2">
        <h3><i class="fas fa-sliders-h fa-xs"></i> Settings:</h3>
    </div>

    <div class="col-1">
        <div class="row">
            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="show-spell-duration" checked>
                    <label class="form-check-label" for="show-spell-duration">show duration</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="show-spell-cooldown" checked>
                    <label class="form-check-label" for="show-spell-cooldown">show cooldown</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-7">
        <div class="row">
            {% for spell in spec.all_spells.values() %}
            <div class="col-2">
                <div class="form-check form-check-inline spell-checkbox-group">
                    <input class="form-check-input" type="checkbox" value="1" id="show-spell-{{spell.spell_id}}" {{"checked" if spell.show else ""}} data-spell_id={{spell.spell_id}} style="display:none">
                    <label class="form-check-label" for="show-spell-{{spell.spell_id}}"><a href="#" data-wowhead="spell={{spell.spell_id}}" data-wh-rename-link="true"></a></label>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="position-absolute text-white-50" style="right: 0px; bottom: 0px"><i class="fas fa-info-circle"></i> click on spells to show/hide them.</div>
    </div>
</div>

<!-- TIMELINES -->
<div class="row bg-dark mx-3 mb-3 pt-2 rounded border" id=timeline>
    {% for fight in fights %}
    <div class="col-12 px-2">
        {% for player in fight.players %}
        {% if player.casts %}
        <div class="player_timeline mb-1" style="width: {{ 350 + (fight.duration / 250) }}px">
            <div class="player_spec_icon">
                <img src="static/images/specs/{{player.spec.name_slug}}.jpg">
            </div>

            <div class="player_name wow-class-{{player.spec.class_name_slug}}">
                <a href="{{player.report_url}}" target="_blank">
                    <span>{{player.name}}</span>
                    {% if player.total %}
                        <span class="player_total">{{player.total_fmt}}</span>
                    {% endif %}
                </a>
            </div>

            <div>
                <div class="cast_container inner_shadow" style="width: {{(fight.duration / 250)}}px">
                {% for cast in player.casts %}
                    <div class="cast" data-spell_id="{{cast.spell_id}}" style="left: {{cast.time / 250}}px;">

                    {% if cast.spell.cooldown %}
                        <div class="cast_cooldown wow-class-bg-{{player.spec.class_name_slug}}"  style="width: {{cast.spell.cooldown * 4}}px"></div>
                    {% endif %}

                    {% if cast.spell.duration %}
                        <div class="cast_duration wow-class-bg-{{player.spec.class_name_slug}}" style="width: {{cast.spell.duration * 4}}px"></div>
                    {% endif %}

                        <div class="cast_icon"><a href="#" data-wowhead="spell={{cast.spell_id}}"></a></div>
                        <div class="cast_text">{{cast.time_fmt}}</div>
                    </div>
                    {% endfor %}
                </div>

                <div class="fight_killtime">
                    <i class="fas fa-skull-crossbones"></i> {{fight.duration_fmt}}
                </div>
            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}


<!-- Content Scripts -->
{% block scripts %}


<script type="text/javascript">


function _update_spell_display(checkbox) {
    let checked = checkbox.is(':checked');
    let spell_id = checkbox.attr("data-spell_id");
    $(`.cast[data-spell_id=${spell_id}]`).toggle(checked)
}

$(".spell-checkbox-group input").click(function() {
    _update_spell_display($(this))
});


// re-connect label click to checkbox for spells
$(".spell-checkbox-group label").click(function() {
    let input_name = $(this).attr("for");
    let input = $("#"+input_name);
    input.click();
});


// initial refresh on page load
$( document ).ready(function() {
    $(".spell-checkbox-group input").each(function(index) {
        _update_spell_display($(this));
    });
});




// show/hide all spell durtion bars
$("#show-spell-duration").click(function() {
    let checked = !$(this).is(':checked');
    $(".cast_duration").toggle(!checked)

});


// show/hide all spell cooldown bars
$("#show-spell-cooldown").click(function() {
    let checked = !$(this).is(':checked');
    $(".cast_cooldown").toggle(!checked)
});





</script>


{% endblock %}
