/* General Element Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}


body {
    background-color: hsl(40, 20%, 8%);
    color: hsl(0, 0%, 90%);
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    /*background: #36393f;*/
    text-size-adjust: 100%;


    // always show scrollbar, to avoid weird layout changes
    // overflow-y: scroll;
}

* {
    box-sizing: border-box;
}


// disable link text color and decoration
a, a:hover, a:visited, a:active {
  color: inherit;
  // text-decoration: none;
 }


.tooltip {
    padding: .4rem 0 !important;

    // from bootstrap tooltip-inner
    padding: 0.25rem 0.5rem !important;
    margin: 0 !important;

    color: #fff !important;
    background-color: #000 !important;
    opacity: .9;
    border-radius: 0.25rem !important;

    font-size: 16px !important;
    font-family: "Lato", sans-serif !important;
}

