/* General Element Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}


body {
    background-color: hsl(40, 20%, 8%);
    color: hsl(0, 0%, 90%);
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    /*background: #36393f;*/
}

* {
    box-sizing: border-box;
}


// disable link text color and decoration
a, a:hover, a:visited, a:active {
  color: inherit;
  // text-decoration: none;
 }


label {
    user-select: none;
}


.disable-hover,
.disable-hover * {
    pointer-events: none;
}


.inner_shadow {
}


.inner_shadow:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.1);


}

