/* Styles used for general/shared Design. */



.bg-dark {
    background-color: #303030;
}

.bg-warning {
    background-color: var(--warning);
}



.hover_grow_source {

    &:hover .hover_grow_target {
        transform: scale(1.1);
    }

    &:not(:hover) .hover_grow_target {
        transition: transform 0.5s 0.1s;
    }
}

/** owo? */
.grow-when-touched {


    &:hover {
        transform: scale(var(--hover-scale, 1.2));
    }

    &:not(:hover) {
        transition: transform 0.5s 0.1s;
    }
}


