


@mixin select_no_dropdown_arrow {
    // hide the dropdown arrow
    &::-ms-expand {
        display: none;
    }
    -moz-appearance: none;
    -webkit-appearance: none;
}


/* Hide the Number Spinners (+/- buttons) */
@mixin input_no_spinner {

    -moz-appearance:textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}


/* adds a storke AROUND some text
    https://stackoverflow.com/questions/26634201/add-stroke-around-text-on-the-outside-with-css
*/
@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

