

.icon-spec {
    border: 1px solid black;
}


a:not(.disabled) .icon-spec:hover,
.ranking-nav a:not(.disabled):hover .icon-spec
{
    transform: scale(1.2);
}

a:not(.disabled) .icon-spec:not(:hover) {
    transition: transform 0.5s 0.1s;
}




.disabled .icon-spec {
    border: none !important;
    filter: saturate(0%) blur(1px);
    opacity: 30%;
    cursor: default;
}

.active .icon-spec {
    border-width: 2px;
    border-color: white;
}


// overall container for the entire navbar
.navbar_container {
    display: grid;
    grid-auto-flow: column;  // single row
    grid-column-gap: 0.5rem // space
}

// sub group of the navbar
.navbar_group {
    display: grid;
    grid-auto-flow: column;  // single row
    grid-column-gap: 0.25rem; // space
}


////////////////////////////////////////////
// Hover Dropdown Classes


.nav_dropdown {
    
    cursor: pointer;
    position: relative;
    display: inline-block;

    // the button thats always visible
    &__button {
        
    }

    // the div that will show/hide
    &__content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        z-index: 99;
    }

    // show the content when hovering over the dropdown
    &:hover &__content {
        display: block;
    }
}



.specs_nav_dropdown {
    left: -0.5rem;  // offset to align the items from the inside
}







