/* Timeline Ruler */

.timeline_ruler {
    user-select: none;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.timeline_tick {
    width: 40px;
    display: block;
    align-self: flex-end;
    position: relative;
    flex-shrink: 0;
}

.timeline_tick {
    border-left: 1px solid;
    bottom: 0;
    border-color: hsl(0deg, 0%, 40%);

    height: 5px;
}

.timeline_tick:nth-of-type(6n+1) {
    height: 10px;
    border-color: hsl(0deg, 0%, 60%);
}


.timeline_tick .timeline_timestamp {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
}

.timeline_tick:first-of-type .timeline_timestamp {
    transform: translateX(0);
}

