

[data-tooltip] {

    --arrow-size: 8px;
    --tooltip-color: black;  // background

    position: relative;

    // define tooltip layer
    &::before,
    &::after {
        visibility: hidden;
        position: absolute;
        z-index: 10;
        left: 50%;
        font-weight: 400;
        font-size: initial;
        pointer-events: none;
    }

    // add hover logic
    &:hover::before,
    &:hover::after {
        visibility: visible;
    }

    // style for the tooltip body
    &::before {
        content: attr(data-tooltip);
        color: white;

        padding: 0.4rem;
        border-radius: .3rem;
        text-align: center;
        width: max-content;
        background: var(--tooltip-color);

        transform:
            translateX(-50%) // center in X
            translateY(calc((-100% - var(--arrow-size)) * var(--scale-y, 1.0))) // top of the parent - arrow size
        ;
    }

    // the arrow
    &::after {
        content: '';
        z-index: 11;

        border: var(--arrow-size) solid transparent;
        border-top-color: var(--tooltip-color);

        transform:
            translateX(-50%) // center in X
            translateY(calc(-100% + var(--arrow-size))) // back to top of the parent
        ;
    }
}


[data-tooltip-dir="down"] {
    --scale-y: -1.0;

    &::after {
        // --translate-y: 0; //var(--arrow-size);
        border-top-color: transparent;
        border-bottom-color: var(--tooltip-color);

        transform:
            translateX(-50%) // center in X
            translateY(calc(100% + 12px)) // no idea why its 12
        ;
    }
}


[data-tooltip-size="small"] {
    &:hover::before,
    &:hover::after {
        font-size: small;
    }
}

