

/* Colors yoinked from Warcraftlogs*/
$qualities: (
    "common": #ccc,
    "uncommon": #0f8000,
    "rare": #0070ff,
    "epic": rgb(163,53,238),
    "legendary": rgb(255,128,0),
    "astounding": rgb(226,104,168),
    "artifact": rgb(229,204,128)
);


@each $name, $color in $qualities {
    .text-#{$name} {color: $color;}
    .bg-#{$name} {background: $color}
}


$classes: (
    "deathknight": #C41E3A,
    "demonhunter": #A330C9,
    "druid": #FF7C0A,
    "hunter": #AAD372,
    "mage": #3FC7EB,
    "monk": #00FF98,
    "paladin": #F48CBA,
    "priest": #FFFFFF,
    "rogue": #FFF468,
    "shaman": #0070DD,
    "warlock": #8788EE,
    "warrior": #C69B6D,
    "other": #888,
);


@each $name, $color in $classes {
    .wow-class-#{$name} {color: $color;}
    .wow-class-bg-#{$name} {background-color: $color;}
    .wow-class-border-#{$name} {border: 1px solid $color;}
}

// slightly tuned down the colors for Hunter and Monk
.wow-class-bg-hunter {background-color: #7e9c54}
.wow-class-bg-monk {background-color: #38c78d}

.wowhead-tooltip-powered {
    display: none !important;
}