
////////////////////////////////////////////////////////////////////////////////
// Navbar Containers
//

// overall container for the entire navbar
.navbar_container {
    display: grid;
    grid-auto-flow: column;  // single row
    grid-column-gap: 0.5rem // space
}

// sub group of the navbar
.navbar_group {
    display: grid;
    grid-auto-flow: column;  // single row
    grid-column-gap: 0.25rem; // space
}


////////////////////////////////////////////////////////////////////////////////
// Button Styles
//
// this should maybe be more global
.button {

    cursor: pointer;

    // Highlight active button
    &:global.active {
        img {
            border-width: 2px;
        }
    }

    // dim the non active buttons
    &:not(&:global.active):not(:hover) {
        img {
            opacity: 30%;
            border-width: 0;
        }
    }
}


////////////////////////////////////////////
// Hover Dropdown Classes


.dropdown_container {

    position: relative;

    &__dropdown {
        display: none;
        z-index: 99;
        position: absolute;
        left: -0.5rem;  // offset to align the items from the inside

    }
    // show the content when hovering over the dropdown
    &:hover &__dropdown {
        display: block;
    }
}


// the button thats always visible
.dropdown_button {

    cursor: pointer;
    position: relative;
    display: inline-block;
}


// the div that will show/hide
.dropdown_content {

    display: grid;
    grid-row-gap: 0.25rem;

    // indicator for the currently selected spec
    a:global.active {
        font-weight: bold;
        border-width: 0;
        padding-left: 2px;

        span::after {
            content: " •";
        }

        img {
            border-width: 2px;
            opacity: 100%;
        }
    }

    /* underline on hover
       added to directly to the span that has the correct text color. */
    a:hover span {
        text-decoration: underline;
    }

    /* Styles for the non-selected specs */
    // a:not(.active) {}
}
