


.nav {

    background: var(--bg-dark);

    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    list-style: none;

    .nav_link {
        background: var(--bg-dark-hover);
        padding: 8px 16px;;

        border: 1px solid black;

        &:global.active {
            color: var(--wow-boss);
            text-decoration: underline;
            font-weight: bold;
            border-color: white;
        }
    }

    // .nav_item:not(&:global.active):not(:hover) {
    //     opacity: 0.7;
    // }


}
