

.container {

    // layout
    display: flex;
    align-items: center;
    gap: 0.25rem;

    overflow: hidden;
    position: relative;

    &:hover {
        img {
            transform: scale(1.1);
            border-color: white;
        }

        span {
            color: white;
        }
    }

    .background {

        position: absolute;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: none;
        background: var(--wow-color);
        filter: brightness(0.75);
    }

    span, picture, img {
        z-index: 1;
    }


    &:global.selected {
        border-color: white;

        span {
            filter: brightness(1);
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            font-weight: bold;
        }
        img {
            border-color: white;
            box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0px;
        }

        :local .background {
            display: initial;
        }
    }
}
