/*************************************************************/
/*  Hello!   */
/*************************************************************/


/* TOC

    01) General Element Styles
    02) Bootstrap Edits


*/


/********************************
    01) General Element Styles
********************************/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
    background-color: hsl(40deg 20% 8%);
    color: hsl(0, 0%, 90%);
    white-space: nowrap;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    /*background: #36393f;*/
}


/*disable link text color and decoration*/
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }


label {
    user-select: none;
}


/********************************
    02) Bootstrap Edits
********************************/

.border {
    border: 1px solid #424242 !important;
}

.border-black {
    border: 1px solid black;
}



.rounded-sm {
    border-radius: 0.125rem;
}

.tooltip {
    font-size: 1rem;
}



.bg-dark-2 {
    background-color: #484848 !important;
}

.bg-dark-3 {
    background-color: #303030 !important;
}

.inner_shadow-sm {
   -moz-box-shadow:    0 0 6px #00000080;
   -webkit-box-shadow: 0 0 6px #00000080;
   box-shadow:         0 0 6px #00000080;
}


.icon-s {
    width: 1.1rem;
    height: auto;
}

.icon-m {
    width: 2rem;
    height: auto;
}

.icon-big {
    width: 56px;
    height: 56px;
    margin-top: -12px;   /*to align it with the h1 properly*/
}


h2 img.icon {
    width: auto;
    height: 2.5rem;
    margin-top: -0.25rem;
}


.parse_spec_link {
    display: inline-block;
}


.icon-spec {
    border: 1px solid black;
}

a:not(.disabled) .icon-spec:hover,
.ranking-nav a:not(.disabled):hover .icon-spec
{
    transform: scale(1.2);
}


.disabled .icon-spec {
    border: none !important;
    filter: saturate(0%) blur(1px);
    opacity: 30%;
    cursor: default;
}

.active .icon-spec {
    border-width: 2px;
    border-color: white;
}

.nav-link {
    padding: 2px !important;
}


#settings_container {
    display: none;
    transition: max-height 2s ease-out;
    transition: max-height 2s ease-in;
}

.spell-checkbox-group-header {
    font-size:  1.2rem;
}

.spell-checkbox-group-header .icon {
    width: auto;
    height: 1.2rem;
}

.spell-checkbox-group-header .icon {
    width: auto;
    height: 1.2rem;
}


.spell-checkbox-group-header label:hover {
    text-decoration: underline;
}

.spell-checkbox-group-header input,
.spell-checkbox-group input,
#show_settings
{
    display: none;
}


.spell-checkbox-group-header input[type="checkbox"]:not(:checked)+label {
    border: none !important;
}


.ranking-nav {
    display: inline-block;
    position: relative;
}


.ranking-nav-role-icon {
}

.ranking-nav-role-specs {
    display: none;
    position: absolute;
    z-index: 99;
    left: -0.75rem;

    padding: 0.75rem;
    padding-top: 0.5rem;

}


.ranking-nav:hover .ranking-nav-role-specs {
    display: block;
}


.ranking-nav .disabled,
.ranking-nav .disabled span,
.ranking-nav a.disabled,
.ranking-nav .disabled:hover
{
    color: grey;
    text-decoration: none;
    cursor: default;
}


.ranking-nav a:not(.disabled):hover
{
    font-weight: bold;
}



input[type="checkbox"]:not(:checked) {
}

input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="checkbox"]:not(:checked)+label {
    color: grey;
    opacity: 30%;
    filter: saturate(0%) blur(0.5px);
}

 input#show_settings:not(:checked)+label {
    opacity: 100%;
    color: white;
}


input#show_settings:not(:checked)+label:hover,
input[type="checkbox"]:not(:checked)+label:hover {
    opacity: 100%;
    filter: saturate(0%) blur(0);

}


input#show_settings:checked+label {
    color: rgb(0 200 255);
}

#settings_hint {
    position: absolute;
    z-index: 5000;
    right: 3.2rem;
    cursor: pointer;
}


.player_timeline {
    height: 30px;
    line-height: 28px;
    vertical-align: middle;

    margin-bottom: 2px;

}


.cast_container {
    position: relative;
    float: left;
    height: 30px;

    background: #222;
    overflow-x: hidden;

    border: 1px solid black;
    border-left: none;
}


.cast {
    position: absolute;
    z-index: 1;
    height: 28px;
    cursor: default;
}



/************************
 Cast Elements
************************/


.cast_icon,
.cast_text,
.cast_duration {
    position: absolute;
    cursor: pointer;
    user-select: none;
}


.cast_icon {
    top: 50%;
    left: 50%;
    transform: translate(4px, -50%);

    width: 20px;
    height: 20px;
    overflow: hidden;

    border-radius: 2px;
    border: 1px solid black;
}

.cast_icon img {
    width: 100%;
    height: 100%;
    /*z-index: 5;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
}


.cast_text {
    position: absolute;
    /*z-index: 5;*/
    left: 28px;
    height: 28px;
}


.cast_duration {
    position: absolute;
    /*z-index: 2;*/
    height: 100%;
    border: 1px solid #444;
    border-radius: 3px;
    opacity: 0.5;
}

.cast_cooldown {
    position: absolute;
    /*z-index: 3;*/
    height: 100%;
    border-radius: 3px;
    opacity: 0.2;
    pointer-events: none;
}

/************************
 Cast Hover
************************/

.player_timelines_container .cast:hover .cast_duration {
    opacity: 0.75;
}

.player_timelines_container .cast:hover .cast_cooldown {
    opacity: 0.3;
}


/************************
 Cast Selection Highlight
************************/

.player_timelines_container .cast {
    transition: opacity, filter ease-out 0.75s;
}

/* selection=active + this is the selected cast */
.player_timelines_container.selected .cast.selected {
    z-index: 11;
}

/* selection=active + this is NOT the selected cast */
.player_timelines_container.selected .cast:not(.selected) {
    z-index: 10;
    filter: saturate(0.25) blur(1px);
    opacity: 0.75;
}


/* fine tuning for cast elements: SELECTED */
.player_timelines_container.selected .cast.selected .cast_text {
    font-weight: bold;
    text-shadow: 3px 2px 3px #00000040;
}

.cast.selected .cast_icon {
    box-shadow: 3px 2px 3px #00000040;
}

.player_timelines_container.selected .cast.selected .cast_duration {
    opacity: 0.75;
    border-color: white;
    box-shadow: 3px 2px 3px #00000040;
}

.player_timelines_container.selected .cast.selected .cast_cooldown {
    opacity: 0.2;
}

/* fine tuning for cast elements: NOT SELECTED */

.player_timelines_container.selected .cast:not(.selected) .cast_icon {
    filter: saturate(0);
}

.player_timelines_container.selected .cast:not(.selected) .cast_text {
    opacity: 0.5;
}

.player_timelines_container.selected .cast:not(.selected) .cast_duration {
    opacity: 0.1;
}


.fight_killtime {
    border-left: 2px solid yellow;
    padding-left: 10px;
    float: left;
    color: #ffffff75;
    height: 28px;
    margin-top: 1px;
}


/*******************************************
        Timeline Cursor
*******************************************/

.timeline_cursor {
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 4px;
    background: #db1212;
    /*display: none;*/

    z-index: 10;
    cursor: w-resize;
    transform: translateX(-50%);

    box-shadow: 2px 1px 2px #00000040;
}


.timeline_cursor_handle {
    position: relative;
    width: 60px;
    height: 20px;
    transform: translateX(-50%);

    color: white;
    border-radius: 2px;
    text-align: center;

    background: inherit;
    box-shadow: inherit;
}


.timeline_cursor:hover {
    width: 6px;
    background: #ed2828;
    box-shadow: 4px 3px 4px #00000040;
}


.timeline_cursor.active {
    background: #d9b84e;
}




/**
.player_timeline_scroll_y {
    overflow-y: scroll;
    max-height: calc(100vh - 241px);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*.player_timeline_scroll_y::-webkit-scrollbar {
  display: none;
}*/


/********************************

        Player Names

*********************************/

.player_names_container {
    /*padding-top: 32px; for the timeline ruler*/
}

.player_name {
    width: 150px;
    height: 30px;
    font-size: 1.2rem;

    background: hsl(0, 0%, 30%);

    padding-right: 5px;
    margin-bottom: 2px;

    border: 1px solid black;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    position: relative;
    overflow: hidden;
}

.player_spec_icon {
    width: 30px;
    height: 30px;
    border-right: 1px solid black;
}

.player_name span {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);

}

.player_name:hover span {
    text-decoration: underline;
}


.player_name_name {
    left: 36px;
    font-weight: bold;
}

.player_name_class {
    left: 36px;
}

.player_name_number {
    left: 36px;
}

.player_total {
    right: 5px;
}


.player_name:not(:hover) .player_name_name,
.player_name:hover .player_name_class,
.player_name:hover .player_name_number,
.player_name:hover .player_total {
    filter:blur(2px);
    opacity: 0.0;
    color: #808080;

}

/* slowly fade back */
.player_name:not(:hover) .player_name_name,
.player_name:not(:hover) .player_name_class,
.player_name:not(:hover) .player_name_number,
.player_name:not(:hover) .player_total {
    transition-property: filter, opacity, color;
    transition-timing-function: ease-in;
    transition-duration: 4s;
    transition-delay: 1s;
}

.guild_name {
    width: 150px;
    height: 30px;
    padding-right: 5px;
    margin-bottom: 2px;
    position: relative;

}

.guild_name a {
    font-size: 1.2rem;
    /*line-height: 1.5;*/
    position: absolute;
    top: 50%;
    /*margin: 0;*/
    transform: translate(3px, -50%);
}


/********************************

        Player Cast Timeline

*********************************/


.player_timelines_container {
    overflow: hidden;
    cursor: grab;
    position: relative;
}



/********************************

        Timeline Ruler

*********************************/

.timeline_ruler {
    height: 32px;
    display: flex;
    flex-direction: row;
}

.timeline_tick {
    width: 40px;
    display: block;
    align-self: flex-end;
    position: relative;
    flex-shrink: 0;
}

.timeline_tick {
    border-left: 1px solid;
    bottom: 0;
    border-color: hsl(0deg 0% 40%);

    height: 5px;
}

.timeline_tick:nth-of-type(6n+1) {
    height: 10px;
    border-color: hsl(0deg 0% 60%);
}


.timeline_tick .timeline_timestamp {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
}

.timeline_tick:first-of-type .timeline_timestamp {
    transform: translateX(0);
}

