{% extends "base.html" %}

{% block title %}
Lorgs: Crazy Admin Page
{% endblock %}



{% block content %}
<div class="p-2 mt-5 ml-5">

    <h3>Spells</h3>
    <div class="bg-dark rounded border p-2">

            <table class="table table-dark table-sm">

            {% for spec in specs %}

                <thead>

                    <th colspan="99">
                        <h4 class="wow-class-{{spec.wow_class.name_slug}}">
                            <img class="icon-m rounded shadow wow-class-border-{{spec.wow_class.name_slug}}" src="{{spec.icon_path}}">
                            {{spec.name}}
                        </h4>
                    </th>

                </thead>

                {% for spell in spec.spells|sort(attribute="group") %}
                    <tr>
                        <td><a href="https://www.wowhead.com/{{spell.wowhead_data}}" target="_blank" data-wowhead="{{spell.wowhead_data}}"><img class="icon-s rounded wow-class-border-{{spell.spec.wow_class.name_slug}} " src="{{spell.icon_path}}"></a></td>
                        <td><a href="https://www.wowhead.com/{{spell.wowhead_data}}" target="_blank" data-wowhead="{{spell.wowhead_data}}">{{spell.spell_id}}</a></td>
                        <td><a href="https://www.wowhead.com/{{spell.wowhead_data}}" target="_blank" data-wowhead="{{spell.wowhead_data}}">{{spell.name}}</a></td>

                        <td class="wow-class-{{spell.group.wow_class.name_slug}}">
                            <img class="icon-s rounded shadow wow-class-border-{{spell.group.wow_class.name_slug}}" src="{{spell.group.icon_path}}">
                            {{spell.group.name}}
                        </td>
                        <td style="background-color: {{spell.color}}">{{spell.color}}</td>
                    </tr>
                {% endfor %}



            {% endfor %}
</div>
{% endblock %}

