



.header-logo-container {
    height: 3.23rem; // icon-l height
    position: relative;
}


.header-logo {
    vertical-align: top; // align inside the div
    margin-top: -1.25px; // offset for border

    // background-color: var(--wow-color);
    overflow: hidden;
    fill: var(--wow-color);

    &:hover {
        fill: white;
        border-color: white;
        cursor: pointer;
        transform: scale(1.1);
    }

    &:not(:hover) {
        transition: all 0.75s 0.25s ease;
    }
}
