



.killtime_input {

    max-width: 6ch;
    font-weight: bold;
    text-align: center;

    &:not(:placeholder-shown):not(:focus):valid {
        border: var(--success) solid 2px;
        color: var(--success);
    }

    &:invalid {
        border: var(--danger) solid 2px;
        color: var(--danger);
    }
}


