

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, .65);
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
        color: rgba(255, 255, 255, .85);
        background-color: var(--bs-primary);
    }

    &::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    &[aria-expanded="true"] {
        color: rgba(255, 255, 255, .85);
    }

    &.btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }
}


.btn-toggle-nav {

    a {
        display: inline-flex;
        // padding-left: .1875rem;
        // margin-top: .125rem;
        text-decoration: none;
    }

    &:hover,
    &:focus {

    }
}


/*
.scrollarea {
overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
*/
