

.cast_container {
    position: relative;
    float: left;
    height: $timeline-height - 1px;

    overflow-x: hidden;

    /*border: 1px solid black;*/
    border-left: none;

    font-size: 14px;
    /*margin-top: 1px;*/
}


/************************
 Cast Elements
************************/

.cast {
    position: absolute;
    // z-index: 1;
    height:  $timeline-height-cast;
    // cursor: default;
    // top: 0px;  // puts it in the middle (1px top and 1px bottom)
}

.cast_icon,
.cast_text,
.cast_duration {
    position: absolute;
    cursor: pointer;
}

.cast_duration,
.cast_cooldown {
    position: absolute;
    height: 100%;
    border-radius: 3px;
}


.cast_duration {
    opacity: 0.5;
}

.cast_cooldown {
    border-radius: 3px;
    opacity: 0.1;
    pointer-events: none;
}


.cast_icon {
    width: $timeline-cast-icon-size;
    height: $timeline-cast-icon-size;
    overflow: hidden;

    left: 3px;
    top: ($timeline-height-cast - $timeline-cast-icon-size) / 2;

    border-radius: 3px;
    border: 1px solid black;
}

.cast_text {
    left: $timeline-height;
}


/************************
 Cast Hover
************************/

.player_timelines_container .cast:hover {

    .cast_duration {
        opacity: 0.75;
    }

    .cast_cooldown {
        opacity: 0.3;
    }
}


/************************
 Cast Selection Highlight
************************/

.player_timelines_container.selected {


    // selection=active + this is the selected cast
    .cast {

        &.selected {
            // z-index: 11;

            /* fine tuning for cast elements: SELECTED */
            .cast_text {
                font-weight: bold;
                text-shadow: 3px 2px 3px #00000040;
            }

            .cast_icon {
                box-shadow: 3px 2px 3px #00000040;
            }

            .cast_duration {
                opacity: 0.75;
                border: 1px solid white;
                box-shadow: 3px 2px 3px #00000040;
            }

            .cast_cooldown {
                opacity: 0.2;
            }
        } // selected

        /* selection=active + this is NOT the selected cast */
        &:not(.selected) {
            // filter: saturate(0.25) brightness(0.75);
            opacity: 0.5;

            // fine tuning for cast elements: NOT SELECTED
            .cast_icon {
                filter: saturate(0);
                opacity: 0.5;
                border-color: transparent;
            }

            .cast_text {
                opacity: 0.5;
            }

            .cast_duration {
                opacity: 0.1;
            }
        } // not selected
    } // cast
} // player_timelines_container.selected





