

.player_timeline {
    user-select: none;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;

    margin-bottom: 2px;

}


.fight_killtime {
    border-left: 2px solid green;
    padding-left: 10px;
    float: left;
    color: #ffffff75;
    height: 28px;
    margin-top: 1px;

    position: absolute;

}




/********************************

        Player Cast Timeline

*********************************/


.player_timelines_container {
    overflow: hidden;
    cursor: grab;
    position: relative;
}


// additionals

.player_timeline {

    .player_death {
        position: absolute;
        height: $timeline-height-cast;
        // width: 2px;
        border-left: 3px solid #f00;
        // background-color: #f00;
        padding-left: 8px;

        i {
            color: #bb3434;
            padding-right: 4px;
        }


        a {
            width: 24px;
            display: inline-block;
        }


    }
}
