/* Timeline Ruler */


.timeline_ruler_playerholder {
    height: $timeline-height;
}

.timeline_ruler {
    user-select: none;
    height: $timeline-height;
    font-size: 14px;

    position: relative;


    &__tick_container {

        overflow: hidden;

        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }


}

.timeline_tick {

    // size
    height: 5px;
    width: 40px;

    // position
    position: relative;
    bottom: 0;

    display: block;
    align-self: flex-end;
    flex-shrink: 0;

    border-left: 1px solid;
    border-color: hsl(0deg, 0%, 40%);

    &:nth-of-type(6n+1) {
        height: 10px;
        border-color: hsl(0deg, 0%, 60%);
    }

    .timeline_timestamp {
        position: absolute;
        bottom: 10px;
        transform: translateX(-50%);
    }
}


.timeline_tick:first-of-type .timeline_timestamp {
    transform: translateX(0);
}


.timeline_killtime {

    position: absolute;
    bottom: 0px;  // to align the text with the ruler

    padding-bottom: 10px;
    padding-left: 5px;

    border-left: 2px solid white;

    font-weight: bold;

    // todo: swap color for wipe/kill
    &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f714";
    }
}


