


.fa_button {
    text-align: center;
    background-color: #5a5a5a;

    display: inline-block;
    padding-top: 0.175rem; /* Adjusts for spacing */

    &:global.disabled {
        background-color: #3a3a3a;
    }
}

