



.dropdown_container {

    position: relative;

    &__dropdown {
        display: none;
        z-index: 99;
        position: absolute;
        left: -0.5rem;  // offset to align the items from the inside

    }
    // show the content when hovering over the dropdown
    &:hover &__dropdown {
        display: block;
    }
}

