

.button {
    --hover-scale: 1.1;

    border: 1px solid var(--wow-artifact);
    background-color: var(--bg-dark);
    color: var(--wow-artifact);

    border-radius: .25rem;
    height: 40px;
    padding: 7px 16px;

    font-size: larger;

    &:hover {
        color: white;
    }

    &:disabled,
    &:disabled:hover {
        --hover-scale: 1.0;
        cursor: default;
        background-color: hsl(175, 5%, 50%);
        opacity: 0.3;
        border: 1px solid black !important;  // don't change the color on hover!
    }
}
