{% extends "base.html" %}

{% block title %}Lorgs: Help{% endblock %}

{% block header %}
<nav class="navbar fixed-top navbar-dark bg-dark" aria-label="Header">
    <a class="navbar-brand" href="{{url_for('ui.index')}}">
        <img class="icon-m wow-border-priest rounded shadow" src={{url_for("static", filename="img/logo.svg")}}>
        How to Lorrg
    </a>
</nav>
{% endblock %}

{% block content %}


<div id="help_page" class="container text-wrap">

    <div class="row mt-3">
        {# Table of Contents #}
        <div class="col-sm-2">
            <div class="sticky-top" style="top: 4.5rem;">
                <nav id="help-navbar" class="navbar navbar-dark bg-dark border rounded flex-column align-items-stretch p-2" aria-label="Main Help Nav">

                    <a class="nav-link" href="#overview">Overview</a>

                    <a class="nav-link" href="#timeline">Timeline</a>
                    <nav class="nav nav-pills flex-column" aria-label="Timeline SubNav">
                        <a class="nav-link ms-3" href="#timeline_nav">Navigation</a>
                        <a class="nav-link ms-3" href="#timeline_boss">Boss Lane</a>
                        <a class="nav-link ms-3" href="#timeline_players">Player Names</a>
                        <a class="nav-link ms-3" href="#timeline_ruler">Markers</a>
                    </nav>

                    <a class="nav-link" href="#spells_toolbar">Spells Toolbar</a>
                    <nav class="nav nav-pills flex-column" aria-label="Spells Toolbar SubNav">
                        <a class="nav-link ms-3" href="#spells_toolbar_display">Display</a>
                        <a class="nav-link ms-3" href="#spells_toolbar_spells">Spells</a>
                    </nav>

                    <a class="nav-link" href="#navigation">Navigation</a>

                </nav>
            </div>
        </div>


        {# Main #}
        <div class="col">

            <div class="border rounded bg-warning">
                <p class="text-black h3 text-center">(🚧 Work in progress and subject to UI changes. 🚧)</p>
            </div>

            <h1 id=overview>Overview:</h1>

            <p>After selecting the spec you want to examine you will see the top ranking logs for the first boss of the current tier.</p>

            <p>Change to whichever boss is the most relevant one for you in the top right panel.<br>
            Then you will notice three main sections:
            The <a href="#timeline"><strong class="wow-mage">encounter timeline</a></strong>,
            <a href="spells_toolbar"><strong class="wow-deathknight">spell selection</strong></a>
            and the <a href="#navigation"><strong class="wow-rogue">navigation bar</strong></a>.</p>

            <img class="img-fluid" src="https://cdn.discordapp.com/attachments/886940165338169344/887028864755318874/unknown.png" alt="overview">

            <hr>

            <!-- Timeline -->
            <h1 id="timeline">Timeline</h1>
            <div class="row mb-3">
                <div class="col">
                    <p>
                        On the timeline you will see the top logs for your chosen encounter and their casting patterns in a directly comparable fashion.<br>
                        One log for every line.
                    </p>
                </div>
            </div>

            <!-- Timeline: Spell -->
            <div class="row mb-3">
                <div class="col">
                    <img class="img-fluid" src="https://i.imgur.com/sqREhiR.png" alt="cast element components">
                </div>
                <div class="col">
                    <p>All instances of relevant spell casts are highlighted on the timeline, with up to three elements:</p>

                    <strong><i class="fas fa-clock"></i> Cast Time</strong>
                    <p>How far into the encounter this spell was cast.</p>

                    <strong><i class="fas fa-stream"></i> Duration</strong>
                    <p>How long the spell is active for <em class="text-muted">(when applicable)</em>.</p>

                    <strong><i class="fas fa-hourglass"></i> Cooldown</strong>
                    <p>How long the spell has been on cooldown.<br>
                    <small class="text-muted">In some cases (for spells that have their cooldowns reduced by talents, legendaries or other effects) the value here is an estimate.</small>

                    </p>
                </div>

            <!-- Timeline: Focus -->
            <div class="row mb-3">
                <div class="col">
                    <h3 id=timeline_focus>Spell selection</h3>
                    <p><strong class="wow-rogue">Click</strong> on any ability on the timeline <strong class="wow-rogue">to focus</strong> it and all instances of the same spell.</p>
                    <p><strong class="wow-mage">Ctrl+Click</strong> to <strong class="wow-mage">focus multiple spells</strong> at once.</p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="https://i.imgur.com/oYVTTCQ.gif" alt="focus spell gif">
                </div>
            </div>

            <!-- Timeline: Navigation: Drag -->
            <div class="row mb-3">
                <div class="col">
                    <h3 id=timeline_nav>Timeline navigation</h3>
                    <strong class="wow-legendary">Click and Drag</strong> on the timeline-ticks or anywhere on the background <strong class="wow-legendary">to move</strong>.
                </div>
                <div class="col">
                    <img class="img-fluid" src="https://i.imgur.com/Kxbr3bv.gif">
                </div>
            </div>

            <!-- Timeline: Navigation: Zoom -->
            <div class="row mb-3">
                <div class="col">
                    <p>Hold <strong class="wow-paladin">Ctrl or Shift and Scroll</strong> your Mousewheel <strong class="wow-paladin">to zoom</strong> in and out.
                </div>
                <div class="col">
                    <img class="img-fluid" src="https://i.imgur.com/w9bJclN.gif">
                </div>
            </div>

            <!-- Timeline: Boss -->
            <h3 id="timeline_boss">Boss Lane</h3>
            <div class="row mb-3">
                <div class="col-7">
                    <img class="img-fluid" src="https://i.imgur.com/2jklPmA.png">
                </div>

                <div class="col-5">
                    <div class="card text-dark bg-info">
                        <div class="card-body">
                            <h5 class="card-text"><strong><i class="fas fa-info-circle"></i> The Boss's Casts are taken from the first lane on the timeline!</strong></h5>
                        </div>
                    </div>

                    <p>
                        Some encounters change based on push timings, or specific strat executations.<br>
                        In these instances the exact boss lane timings might be inaccurate from log to log.
                    </p>
                    <p>
                        Keep that in mind when you ask yourself why some players use their CD's a few seconds before or after an important ability.
                        This can most likely be due to that guild getting said boss ability a few seconds off from what that particular fight shown in the boss lane.
                    </p>
                </div>

            </div> {# end row #}


            <h3 id="timeline_players">Player Names</h3>
            <div class="row mb-3">
                <div class="col">
                    <p>Hover over the log lane number on the left to reveal the player’s name.<br>
                    From there you can click on their name to open the corresponding log on warcraftlogs.</p>
                    <img src="https://i.imgur.com/RPZhdDx.gif" width="500px">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <h3 id="timeline_ruler">Timeline Markers</h3>
                    <p>To help you check through timings across many parses, not just the first few, you can add markers that will highlight the exact time slice you are looking at across all logs.</p>
                    <p>
                        <strong class="wow-monk">Double click to add</strong> markers.<br>
                        <strong class="wow-deathknight">Right click</strong> on a marker <strong class="wow-deathknight">to remove</strong> it.<br>
                        Left click and <strong class="wow-druid">drag to move</strong> it around.
                    </p>
                </div>
                <div class="col">
                    <img src="https://i.imgur.com/kVQj74B.gif" width="300px">
                </div>
            </div>

            <hr>

            <!-- SPELL TOOLBAR -->
            <h1 id=spells_toolbar>Spells Toolbar</h1>
            <img class="img-fluid" src="https://cdn.discordapp.com/attachments/886940165338169344/887124365978775612/unknown.png">


            <!-- DISPLAY -->
            <h3 id=spells_toolbar_display>Display-Group</h3>
            <div class="row mb-3">
                <div class="col">
                    <p>the Display Group offers you three buttons to customize the overall view:</p>

                    <strong><i class="fas fa-clock"></i> Cast Time</strong>
                    <p>Show/Hide the time stamp for each cast</p>

                    <strong><i class="fas fa-stream"></i> Duration</strong>
                    <p>Show/Hide for how long each cast was active.<br>
                        <small class="text-muted">eg.: Healing Tide Totem is active for 10sec.</small>
                    <p>
                    </p>

                    <strong><i class="fas fa-hourglass"></i> Cooldown</strong>
                    <p>Show/Hide spell cooldowns.<br>
                    Toggle the display for the cooldown-bars, that indicate for how long the spell was on cooldown.
                    This can be useful to see if players decided to hold a spell, or used it right as it came of cooldown.
                    </p>
                </div>

                <div class="col">
                    <img class="img-fluid" src="https://i.imgur.com/8fn8mIv.gif">
                </div>
            </div>

            <hr>

            <!-- SPELLS -->
            <h3 id=spells_toolbar_spells>Spells/Consumables/Items</h3>
            <div class="row mb-3">
                <p>The next icon you will see is one for each spell/consumable/trinket that has been found in the top 50 logs.</p>

                <div class="col">
                    <p>Click on any spell to show/hide it.<br>
                    Click on a Group-Name to toggle all spells in that group.</p>
                    <img class="img-fluid" src="https://i.imgur.com/KryE3Dr.gif">
                </div>

                <div class="col">
                    <p>These are most often split into 4 categories:</p>
                    <strong>Boss:</strong>
                    <p>Abilities used by the encounter</p>
                    <strong>Spec:</strong>
                    <p>Spells cast by the player(s)</p>
                    <strong>Potions:</strong>
                    <p>Pots and consumables</p>
                    <strong>Trinkets:</strong>
                    <p>On-use trinkets and similar items</p>
                    <p></p>

                    <div class="card text-dark bg-warning" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title"><strong>⚠️ Not every ability is listed ⚠️</strong></h5>
                            <p class="card-text">
                                All of tracked abilities are manual added to a whitelist.<br>
                                If there are any missing spells you would like to see added, please feel free to reach out on 
                                <a href="{{config.DISCORD_LINK}}"><strong class="text-black">👉 discord</strong></a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- NAV -->
            <h1 id="navigation">Navigation</h1>

            <div class="row mb-3">
                <div class="col-4">
                    <strong>A: Specs</strong>
                    <p>Choose a different spec</p>
                </div>

                <div class="col-4">
                    <strong>B: Bosses</strong>
                    <p>Swap between different bosses of the current raid tier</p>
                </div>
                <div class="col-4">
                    <strong><i class="fas fa-home"></i> C: Home</strong>
                    <p>Go back to the start page</p>
                </div>
            </div>
            <img class="img-fluid" src="https://cdn.discordapp.com/attachments/886940165338169344/887143350128492574/unknown.png">

            <hr>


        </div> {# end main-col #}
    </div> {# end main-row #}
{% endblock %}


{% block footer %}
<div class="flex-row p-1 mt-5 ml-5">
    <div class="col">
        <p id=copyright class="text-muted">
            <small>
            Item and ability tooltips by <a href="https://wowhead.com/" target="_blank">Wowhead</a>.<br>
            All images copyright Blizzard Entertainment. World of Warcraft
            Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
            </small>
        </p>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}

{# data-bs-spy="scroll" data-bs-target="#help-navbar" data-bs-offset="0" #}
<script type="text/javascript">
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#help-navbar',
        offset: 10,
    })
</script>
{% endblock %}


