


.status_table {


    // display: grid;
    // grid-template-rows: repeat(13, auto);

    tr {
        border: 1px solid hsla(0, 0, 0, 20%);

        &:hover {
            font-weight: bold;
            background-color: hsl(0, 0%, 30%);;
        }
    }

    thead {
        background-color: hsl(0, 0%, 50%);;
        text-align: center;
    }

    th {
        border: 1px solid black;
    }
    
    td {
        text-align: center;
        
        padding: 4px 8px;
        border-left: 1px solid black;

        &[data-age="week"] {
            background-color: hsl(0, 60%, 30%);
        }
        &[data-age="three_days"] {
            background-color: hsl(40, 60%, 30%);
        }
        &[data-age="day"] {
            background-color: hsl(80, 60%, 30%);
        }
        &[data-age="fresh"] {
            background-color: hsl(120, 60%, 30%);
        }


    }



}

