


.nav {

    .nav_link.active {
        color: var(--wow-boss);
        text-decoration: underline;
        font-weight: bold;
    }

    .nav_link:not(.active):not(:hover) {
        opacity: 0.7;
    }


}
